<script>
    // CLP Delegates.
    // 1 for the first 749
    // 1 more for each 250 after that
    // 1 if youth members over 30
    // 1 if female members exceed 100
    var delegates_total = 0;

    function calc_member_delegates() {
        var clp_member_total = document.getElementById('clp-member-total').value;

        document.getElementById('delegate-count').innerHTML = '<strong>' + delegate_counter(clp_member_total) + '</strong>';
    }

    function delegate_counter(m) {
        var delegate_count = 0;
        if (m >= 749) {
            delegate_count++;
            // Remove the first 749 for the next calculation
            if (m > 749) {
                m = m-749;
            }
        }

        // calculate
        delegate_count = delegate_count + Math.ceil(m/250);

        // Check the checkboxes.
        if (document.getElementById('clp-young-members').checked) {
            delegate_count++;
        }

        if (document.getElementById('clp-female-members').checked) {
            delegate_count++;
        }

        return delegate_count;
    }

</script>

<div>
    <p>Calculate the number of delegates your CLP can send to Conference.
    Simply enter the number of members in your CLP and answer two questions.</p>
    <span>CLP Delegate Calculator</span>
    <form name="clp-calc" action="#" onsubmit="javascript: return false;">
        Total CLP Membership: <input onchange="javascript: calc_member_delegates()" type="text" name="clp-member-total" id="clp-member-total" size="20" /><br />
        <input onchange="javascript: calc_member_delegates()" type="checkbox" name="clp-young-members" id="clp-young-members" value="1" /> Tick if there are 30 or more young members (u-25).<br />
        <input onchange="javascript: calc_member_delegates()" type="checkbox" name="clp-female-members" id="clp-female-members" value="1" /> Tick if there are 100 or more female members.<br />

        <input type="submit" name="submit" value="Calculate" onclick="javascript: calc_member_delegates(); return false;" />
    </form>

    <div>
        <p>Your CLP can send <span id="delegate-count"></span> delegates to conference.</p>
    </div>


    <span>Widget created by: Ian Lewis ianl@electricowl.co.uk</span>
</div>
