/*
    Document   : admin-client
    Created on : May 9, 2013, 08:22:00 AM
    Author     : ryansimms
    Description:
        Client admin stylesheet
*/

/* #####################################################################
 generalstyles                            
###################################################################### */

a:link {  text-decoration: none; color: #333;}
a:hover { color:black; cursor:pointer; }
a:visited { color: #333; }
a:active, a:focus { -moz-outline-style: none; }

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.content_area h2 {
    margin-bottom: 15px;
}
.content_area form {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

div ul {
    list-style: none;

}
    div ul li {
        padding: 5px;
        background-color: #F7F7F7;
        margin-top: 3px;
        margin-bottom: 4px;
        border-radius: 3px;
        color: #333;
        font-size: 12px;
        box-shadow: 0px 1px 1px #ccc;
    } 
        div ul li strong {
            font-size: 14px;
        }
        div ul li span {
            margin-left: 3px;
            padding: 3px !important;
            background-color: #ccc !important;
            font-size: 10px;
        }
        div ul li a {
            float: right;
            margin-left: 3px;
            padding: 5px;
            border: 1px solid #fff;
            border-radius: 3px;
            background-color: #ccc;
            text-transform: capitalize;
            font-size: 13px;
        }
            div ul li a:hover {
                text-decoration: none;
                background-color: #999;
                color: #fff;
            }

.footer {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px dashed #ccc;
    padding: 10px;
}


#crowdsurge_call span, #crowdsurge_call div { display: inline-block; }
#crowdsurge_call { padding: 5px; border: 1px solid #ccc; text-align: center; margin-bottom: 10px; }
#query_string { width: 400px; }


.campaign_row {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}
    .auction_row {
        font-size: 14px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }
        .auction_item_row {
            font-size: 12px;
            margin-top: 10px;
            padding-left: 10px;
            padding-top: 5px;
            border-top: 1px dashed #ccc;
        }

.confirm {
    float: right;
}
.confirm_campaign {
    padding-right: 11px;
}
.confirm_submit_row {
    padding-top: 10px;
    padding-right: 13px;
    text-align: right;
    border-top: 1px solid #ccc;
}


/* 
Client reports table
*/
.id_ref {
    font-size: 10px;
    color: #666;
}
.report {
    border: 1px solid #ccc;
}
    .campaign_row {
        border-bottom: 1px solid #999;
    }
        .auction_row {
            border-bottom: 1px solid #666;
        }
        .auction_left {
            padding-left: 10px;
        }
            .auction_item_headrow {
                border-bottom: 1px solid #ccc;
            }
            .auction_item_headrow td {
                font-size: 10px;
                color: #666;
                font-weight: bold;
            }
                .auction_item_row {
                    border-bottom: 1px dashed #ccc;
                }
                .auction_item_left {
                    padding-left: 20px;
                }



