/* LAYOUT */

body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.4; color: #333; margin: 0;}

a {}
a:hover {}
.clear {clear:both;}
h1,h2,h3,h4,h5,h6 {margin: 0; line-height: 1em;}

menu, ol, ul { padding: 0;}


	#outer {width: 920px; margin: 0 auto; padding: 20px 0;}
	
		header {margin-bottom: 20px;}
		
			nav {padding: 4px 12px; background: #e2e2e2; font-size: 0.875em; min-height: 20px;}
				.nav {margin: 0; padding: 0;}
					.nav li {list-style: none; display: block; float: left;}
					
						.nav li.divider {font-weight: 400; margin: 0 8px;}
						.nav li.nav-right {float: right; margin: 0 0 0 12px; padding: 0 0 0 12px; border-width: 0 0 0 1px;}
		
		
						nav li.nav-right:last-child, nav li.nav-left:last-child {border: none;}
						
						.nav li.nav-logo {border:none; width: 106px; height: 16px; font-size: 1px; text-indent: -9999px; background: url('../images/cs.logo.png') right center no-repeat; background-size: 106px 16px;}
							.nav-logo img {height: 16px; width: 110px;}
							
							nav a {color: #666; text-decoration: none;}
							nav a:hover {color: #222;}
							
		
		footer {padding: 12px 2px 0; border-top: 1px solid #333; font-size: 0.875em;}
			footer .nav li {line-height: 14px; margin:2px 8px 2px 0; padding-right: 8px; border-right:1px solid;}
			footer .nav li.ft-support {border:none;}
				


/* GENERAL ELEMENTS */

form fieldset {border: 0; padding: 0; margin: 0;}
	form .cf {padding-bottom: 16px;}
	form label {display: block; float: left; margin-right: 12px; line-height: 20px; width: 128px;   font-weight: normal; padding-top: 0px; clear:left;}
		form label span {text-transform: none; padding: 0 2px; color: #666;}
	form .cf input, form .cf select {float: left; box-sizing: border-box; -moz-box-sizing: border-box; display: block;}
	form .cf select {margin-top: 8px; margin-bottom: 6px; margin-right: 12px;}
	
	form .cf .button {float: right; margin-left: 16px;}
	#forgot {float: right; display: block; margin-right: 12px; line-height: 24px; font-size: 80%; color: #fff;}
	
	form label.checkbox {width: auto; margin-left: 108px; line-height: 1.2em; font-size: .75em; text-transform: none; font-weight: 400;}
		form label.checkbox input {margin: 0px 12px 6px 0; width: auto;}
	.cs_form {margin-bottom:20px;}
	
	
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"] {border:1px solid #ccc; border-radius: 0 !important; line-height: 20px; padding: 5px 6px; font-family: sans-serif; box-shadow: 0 0 8px rgba(0,0,0,.1); font-size: 13px; width: 240px;}

.alert {clear: both; background: #333; color: #fff; padding: 16px 16px 1px; margin-bottom: 20px; margin-top: 16px;}
.error {clear: both; background: #111; color: #fff; padding: 8px 16px 8px 50px; margin-bottom: 20px; background: url('../images/chk.png') 10px center no-repeat #111; background-size: 30px 30px; display: table; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; text-shadow: none;}
	.error ul {margin: 0; padding: 0; list-style: none; display: table-cell; vertical-align: center; padding-top: 8px;}
		.error ul li {padding-bottom: 8px;}




.button {font-size: 0.75em; padding: 6px 12px 5px; line-height: normal; background: #333; color: #fff; display: block; white-space:nowrap; text-decoration: none;  text-transform: uppercase; text-shadow: none; display: inline-block !important; border:none; vertical-align: middle;}
.button:hover {color: #fff; background-color: #000; text-decoration: none;}

a.button {    padding: 4px 10px 4px;}


.cs_form input[type="submit"]{ margin-left: 140px;}


/* form errors */
ul.errors {display:inline; margin:0; padding:0; }
ul.errors li {clear:both; display:block;list-style:none; margin-left: 140px; margin-bottom:0px; font-size:90%;  color:#D02142;}
 


		
/* CAMPAIGN PAGE */

#landing {width: 940px;}

.lnd-box {float: left; display: block; width:215px; height: 215px; margin-right: 20px; margin-bottom: 20px; position: relative; text-decoration: none; color: #fff;}
.lnd-box:hover {color: #fff;}

	.lnd-box img {height: 215px; width: 215px; position: absolute;}
	.lnd-details {position: absolute; bottom:0; width: 215px; background: rgba(0,0,0,.6); border-top:0px solid #111;}
		.lnd-details h2 {padding: 12px 12px 2px; text-transform: none; font-size: 1.2em;}
		.lnd-details p {margin: 0; padding: 0 12px 12px; font-size: 0.875em; text-transform: uppercase;}
		.lnd-details > div {padding: 6px 12px; font-size: 0.875em; background: #333; display: inline-block;}
	
	
.lnd-widebox {float:left; height: 215px; width: 450px; margin-right: 0; position: relative; background: #333; text-align: center; color: #fff; margin-bottom: 20px; margin-right: 20px;}
	.banner {margin-right: 0;}
	.lnd-widebox h4 {position: absolute; bottom: 0; padding: 16px 0; width: 450px;}


/* AUCTION PAGE */

.evt-container {margin-left: 235px; margin-bottom: 10px; padding-bottom: 20px;}
.evt-table { width: 100%; display: table;}

	.evt-header, .evt-row {display: table-row;}
		.evt-header > div, .evt-row > div {display: table-cell; padding: 16px 0 16px 20px; vertical-align: middle;}
		
		.evt-header > div {border-bottom: 1px solid #333; padding: 4px 0 8px 20px; text-transform: uppercase; font-weight: 700; font-size: .875em;}
		.evt-row > div {background: #f9f9f9; position: relative; top:10px;}
		.evt-alt > div {background: #f0f0f0;}
		
		.evt-row .evt-date {font-weight: normal; text-transform: uppercase; text-align: center; width: 10px; padding-right: 2px;}
			.evt-date > span {display: block; line-height: 1em;}
			.evt-date .month {font-size: .75em; letter-spacing: 2px;}
			.evt-date .day {font-size: 1.5em; letter-spacing: 1px; padding: 2px 0;}
			.evt-date .year {font-size: .75em; letter-spacing: 1px;}
		
		.evt-row .evt-venue {}
			.evt-row .evt-venue > span {display: block; line-height: 1em; }
			.evt-venue .ven-name {text-transform: uppercase; font-weight: 700; padding-bottom: 4px; font-size: 1.2em; white-space: nowrap;}
			.evt-venue .ven-loc {}
		
		.evt-auction {text-align: center;}
		.evt-row > .evt-action {text-align: right; padding-right: 20px;}





		#auctionitems {background:#cccccc;  margin-bottom: 0px; overflow: hidden; }
		#auctionitems>br {display:none;}
		#auctionitemlist {background:#dddddd;  width:100%; min-width:320px;}
		 
		#auctionitemlist>ul>li {display:block; padding:0px;}
		#auctionitems #auctionitemlist ul { overflow: auto; margin:0; padding:0;} 
		#auctionitems #auctionitemlist ul li:first-child {font-weight:bold;}
		#auctionitems #auctionitemlist ul li {  white-space:nowrap;  overflow-x:hidden; border-bottom: 1px solid #666666;    border-top: 1px solid #999999;    clear: both;    display: block;    min-height: 10px;    padding:0px;}
		#auctionitems #auctionitemlist ul li:nth-child(2n+1) {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);}
		#auctionitemlist ul li>span {    display: inline-block;    margin-right: 6px;    padding: 5px 0;}
		#auctionitemlist ul li span>span {  margin-right: 0px;}
		#auctionitemlist ul li div.timeleft>b>span>span  {  margin-right: 8px;}
		#auctionitemlist ul li span.itemname, #auctionitemlist ul li span.auctionitem { width:45%; white-space:nowrap;}
		#auctionitemlist ul li span.timeleft, #auctionitemlist ul li span.timelefts { width:11%; text-align:left;}
		#auctionitemlist ul li span.bidhistory { width:13%; text-align:center;}
		#auctionitemlist ul li span.currentbids, #auctionitemlist ul li span.currentbid{ width:14%; text-align:right;}
		#auctionitemlist ul li span.action {  float:right;     margin-right: 0px;  padding: 0px 0;}
		#auctionitemlist   span.cdown .cd-sec, 
		#auctionitemlist  span.cdown .cd-min {display:none;}



		#auctionitems #auctionitemlist ul li:hover, #auctionitems #auctionitemlist ul li.hover {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
		#auctionitems #auctionitemlist ul li.ended:hover {
		}

		/* hide this data from the auctionitems*/
		#auctionitemlist ul li.auction_item .customref,
		#auctionitemlist ul li.auction_item .description,
		#auctionitemlist ul li.auction_item .duration,
		#auctionitemlist ul li.auction_item .customref,
		#auctionitemlist ul li.auction_item .starting_bid,
		#auctionitemlist ul li.auction_item .min_bid_increment,
		#auctionitemlist ul li.auction_item .max_bid_increment,
		#auctionitemlist ul li.auction_item .item_form {display:none;} 



		 /*SEATPLANS*/
		#auctionitems.seatplan1 #auctionitemlist {width:410px; float:right; }
		#auctionitems.seatplan1 #auctionitemlist ul  {height:440px;}
		/*#auctionitems #auctionitemlist.seatplan1 ul li:first-child>span{display:none;}
		#auctionitems #auctionitemlist.seatplan1 ul li:first-child>span.itemname {display:block;}*/
		#seatmap {width:510px; height:440px; float:left; overflow:hidden; text-align:center;}
        #auctionitems.seatplan2 #auctionitems {max-height:440px; overflow:hidden;}
        #auctionitems.seatplan2 #auctionitemlist ul  {height:440px; overflow:auto; padding:0;}

		#auctionitems.seatplan2 #seatmap {  background: url("../images/ajax-loader.gif") no-repeat scroll center 189px white;   border-right: 1px solid #743332;  overflow: hidden;    position: relative; }
		#auctionitems.seatplan2 #seatmap #foreground {    bottom: 0;   box-shadow: 2px 0 59px rgba(40, 40, 40, 0.4) inset;   height: 440px;    left: 0;    pointer-events: none;    position: absolute;    width: 510px;    z-index: 4;}
		.lt-ie9 #auctionitems.seatplan2 #seatmap #foreground, .ie9 #auctionitems.seatplan2 #seatmap #foreground {display: none;}
		.lt-ie9 #auctionitems.seatplan2 #seatmap, .ie9 #auctionitems.seatplan2 #seatmap {   border: 1px solid grey;   height: 438px !important;}
		.unselectable { -moz-user-select: none;}

		/*seatplan area*/
		#auctionitems.seatplan2  #seatmap #floorplanbackground {width:900px;    position:absolute;  top:-524px;left:0; z-index:3; cursor:move;}
		#auctionitems.seatplan2  #seatmap #seatcontainer {position:relative;}
		#auctionitems.seatplan2 #seatmap #zoomin {width:25px; height:25px; background:grey no-repeat center 3px; background:rgba(0,0,0,0.5) no-repeat center 3px; background-image:url(../images/zoom_in.png); position:absolute; z-index:10; left:10px; top:10px; box-shadow:0 0 3px rgba(0,0,0,0.9);}
		#auctionitems.seatplan2 #seatmap #zoomout {width:25px; height:25px; background:grey no-repeat center 3px; background:rgba(0,0,0,0.5) no-repeat center 3px; background-image:url(../images/zoom_out.png); position:absolute; z-index:10; left:10px; top:42px; box-shadow:0 0 3px rgba(0,0,0,0.9);}
		#auctionitems.seatplan2 #seatmap #zoomin.ready, #auctionitems.seatplan2 #seatmap #zoomout.ready { background-color:black; background-color:rgba(0,0,0,0.8);}
		#auctionitems.seatplan2 #seatmap #zoomin.ready:hover, #auctionitems.seatplan2 #seatmap #zoomout.ready:hover { background-color:#db293f; background-color:rgba(225, 02, 02, 0.8); cursor:pointer;} 
		/*seat styles*/
		#auctionitems.seatplan2 #seatmap .seaticon  {position:absolute; cursor:pointer; text-indent:-9999px; border-radius:60px; border:0px solid white; background:#dddddd; z-index:61; pointer-events: auto;}
		#auctionitems.seatplan2 #seatmap .seaticon.available  { background:#03374c; }
		#auctionitems.seatplan2 #seatmap .seaticon.selected  { background:#464646; }
		#auctionitems.seatplan2 #seatmap .seaticon.available.selected  { background:#000000; }
 
		#auctionitems.seatplan2 #seatmap .seaticon.hover, #seatmapcontainer #seatmap .seaticon:hover { background:#464646; cursor:pointer; z-index:8908;} 
		#auctionitems.seatplan2 #seatmap .seaticon.available.hover, #seatmapcontainer #seatmap .seaticon.available:hover { background:#440000; cursor:pointer; } 
		#auctionitems.seatplan2 #seatmap .seaticon .tooltip {position:absolute;pointer-events: none; top:-35px; padding:5px 10px; /*min-width:180px;*/ width:auto; left:-22px; font-size:90%; background:black; background:rgba(0,0,0,0.8); color:white; display:none; white-space:nowrap; }
		#auctionitems.seatplan2 #seatmap .seaticon .tooltip span{ display:block; text-indent:0; white-space:nowrap;} 
		#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.currency {display:inline;}
		#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.pretext {display:inline-block; }
		#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.littlearrow{ width:10px; height:12px; left:19px; position:absolute; bottom:-12px; background:url(../images/littlearrow.png);}
		#auctionitems.seatplan2 #seatmap .seaticon.available:hover .tooltip {display:block;}

		 /* bid details */
		 #seatdetails {float:left; width:407px; color:white; display:none;}
		.lt-ie9  #seatdetails {width:405px; }
		.ie9  #seatdetails {width:405px; }
		 form#bidform {display:inline;}
		 #seatdetails #seatnumbers { overflow:auto; font-weight:bold; padding: 16px 16px 6px 16px; background:#9d1d32; background:rgba(0,0,0,0.17); border-bottom:1px solid #6d2a37; font-size:160%; text-shadow:-1px -1px 0px #323232;}
		 #seatdetails #seatnumbers .tiny {display:block; font-size:50%; margin-top:5px; font-weight:normal;opacity:0.4; filter:alpha(opacity=40); text-shadow:0 0 0 #fff; }
		#seatdetails .viewall {font-size:12px; float:right; color:white; text-shadow:none;  margin-top:10px; margin-left:16px;}
		#seatdetails #currentbid { overflow:auto; padding:8px 16px; border-top:1px solid #bc4a5c; border-bottom:1px solid #6d2a37;}
		#seatdetails #currentbid .label .pretext {font-weight:bold; text-transform:uppercase;}
		#seatdetails #currentbid .label span { font-weight:normal;}
		#seatdetails #currentbid .label  #currentbidder {display:block;}
		#seatdetails #currentbidvalue { margin-left:10px; float:left; width:100px;}
		#seatdetails #currentbid a {color:white; margin-top:1px;display: inline-block; float:right; padding-top: 5px; }
		#seatdetails #timeleft { overflow:auto; padding:8px 16px; border-top:1px solid #bc4a5c; background:#9d1d32; background:rgba(0,0,0,0.1);  border-bottom:1px solid #6d2a37;}
		#seatdetails #timeleft #countdown {font-size:120%; margin-left:10px;}
		#seatdetails #timeleft #countdown>span {margin-right:10px;}
		#seatdetails #bidhistory {display:none;}
		#seatdetails #yourbid { padding:8px 16px;  border-top:1px solid #bc4a5c;}
		#seatdetails #yourbid  .currency {font-size:175%;}
		#seatdetails .label {width:156px; float:left; display:block; font-weight:bold;}
		#seatdetails .label small {display:block; font-weight:normal;}
		#seatdetails #currentbidvalue {font-size:175%;}
		#seatdetails #yourbid  small .currency {font-size:100%;}
		#seatdetails #yourbid input[type="text"]{ width:80px; padding:3px 5px 5px; border:0;  font-size:130%; font-weight:bold; margin:-1px 5px 0; box-shadow:0px 0px 2px grey;}

		#seatdetails #yourbid .button {background:url(../images/button_shine.png) #efefef no-repeat center top;background:url(../images/button_shine.png) no-repeat center top, url(../images/button_shine.png) no-repeat center top, url(../images/button_shine.png)   #cfcfcf no-repeat center top; color:black; font-size:135%; padding:3px 15px 2px; margin-left:15px;}
		#seatdetails #yourbid .button:hover {background-color:#c0c0c0;}
	

 
		 /* Notebox styles */
		#notebox {color:white;  background:white; color:#232323; box-shadow: 0 0 10px #444444;left: 50%;margin-left: -270px;padding: 10px 20px 20px 20px ;position: absolute;text-align: left; top:240px; width:500px; z-index: 99999;}
		.lt-ie9 #notebox {border:1px black solid;}
		#notebox h2 {display:block; text-align:left; margin-bottom:16px;}
		#notebox #bidbox {background:url(../images/seatmap_bg.jpg) #db293f center bottom; padding:15px; color:white; margin:10px 0 0;}
		#notebox .littlemessage {display:block;}
		#notebox .littlemessagebuttons {text-align:right; display:block;}
		#notebox .error {color:#a71930; font-weight:bold;}
        #notebox table {border-collapse:inherit; padding-bottom:10px;}
        #notebox   #historybidders td{padding:5px 5px 5px 0;}
		#notebox .label {width:170px; margin-left:15px; float:left; display:block; font-weight:bold; clear:both; margin-bottom:10px;}
		#notebox #bidbox .label {margin-left:0;margin-top:7px; width:165px;}
		#notebox #bidbox .currency {font-size: 175%;}
		#notebox .currentbid, #notebox .timeleft {float:left; width:220px; display:block; font-size:150%; font-weight:bold;}
		#notebox .timeleft {font-size:120%; font-weight:normal;}
		#notebox input[name="newbid"] { border: 0 none;    box-shadow: 0 0 2px grey;    font-size: 130%;    font-weight: bold;    margin: -3px 5px 0;    padding: 3px;    width: 82px;}
		#notebox #bidbox .minbid {display:block; padding:10px 0 0 175px;  }
		#overlay {background:white;cursor: pointer;height: 100%;left: 0;min-height:100%;filter:alpha(opacity=76);opacity:0.76; position:fixed;top: 0;width:100%;z-index: 99998;}
		#loader {width:16px; height:11px; position:absolute; z-index: 99999; top:300px; left:50%; margin-left:-8px;}
 
		#notebox th {text-align:left;}
 
 
 







/* ITEMS PAGE */

.itm-top {margin-bottom: 20px;}
	.itm-left {width: 510px; float: left; box-sizing: border-box; -moz-box-sizing: border-box;}
	.itm-right {width: 410px; float:left; box-sizing: border-box; -moz-box-sizing: border-box;}
		
		.itm-pic {width: 100%; border:1px solid #ccc; box-shadow: 0 0 12px rgba(0,0,0,.4); max-height: 300px;}
		
		.itm-share {padding-top: 4px;}
		.itm-share .fb-like {padding-right: 12px;}
		
	.itm-details {padding: 2px 0 0 20px;}
		.itm-details > span {display: block; line-height: 1em; padding-bottom: 4px;}
		
		.itm-campaign {text-transform: uppercase; font-size: 1.4em; font-weight: 700;}
		.itm-date {font-size: 1.2em; text-transform: uppercase; font-size: 1.2em; font-weight: 700;}
		.itm-venue {font-weight: 700;}
		.itm-loc {font-weight: 700;}
		
		.itm-about p {line-height: 1.2em;}
	

.itm-auction {margin-bottom: 18px; background: #333; overflow:hidden; box-shadow: 0 0 12px rgba(0,0,0,.2);}
/*	.itm-auction > div { float: left; min-height: 300px; box-sizing: border-box; -moz-box-sizing: border-box; padding-bottom: 500em; margin-bottom: -500em;}*/
	.itm-seatmap {background: #f0f0f0; box-sizing: border-box; -moz-box-sizing:border-box; padding: 200px 0; text-align: center; border-right:0px solid #fff; width: 510px !important; overflow: hidden; }
	.itm-auctions {color: #fff; border-left: 0px solid #222;}
		/*.itm-list {display: table; width: 100%; box-sizing: border-box; -moz-box-sizing:border-box; padding: 0; margin: 0;}*/
			.itm-row {display: table-row;}
				.itm-row > div {display: inline-block; padding: 10px 3px 10px 0; border-bottom: 0px solid #000; border-top: 0px solid #ccc; vertical-align: middle;}
				.itm-row:last-child > div {border-bottom: none;}
				  
				.itm-header > div {font-weight: 700;}
				.itm-alt > div {}
				
				.itm-row > .itm-name {padding-left: 8px; width:190px;   white-space: pre-wrap;} 
				.itm-row > .itm-time {white-space: nowrap; width:55px;}
				.itm-row > .itm-bids {text-align: center; width:30px;}
				.itm-row > .itm-current {text-align: right; white-space: nowrap; width:40px;}
				.itm-row > .itm-action {text-align: right;width:50px;}

.itm-bottom {padding-bottom: 8px;}
	.itm-bottom .itm-right {padding-left: 32px;}
	
		
		.itm-bottom h6 {margin: 0; padding: 10px 0 2px;}
		.itm-bottom p {margin: 0 0 12px;}
		
		.itm-bottom .itm-before {background: #f0f0f0; padding: 6px 16px 4px; margin-bottom: 20px; margin-top: 12px;}
		.itm-bottom .itm-donate {border-top: 1px solid #333; padding-top: 10px;}
			.itm-bottom .itm-donate a {min-width: 80px; text-align: center;}

	
	.ind-row {display: table; width: 100%; box-sizing: border-box; -moz-box-sizing:border-box;}
		.ind-row > div {display: table-cell; padding: 12px 0px 12px 16px; vertical-align: middle; border-bottom: 1px solid #000; border-top: 1px solid #ccc;}
		.ind-alt > div {background: #222;}
		
		.ind-row > .ind-name {width: 67%; font-size: 1.8em; text-transform: uppercase; padding: 22px 0 20px 16px;}
		
		.ind-row > .ind-left {width: 42%; text-transform: uppercase; }
			.ind-left > span {text-transform: none;}
		.ind-row > .ind-center {width: 32%; }
		.ind-row > .ind-right {text-align: right; padding-right: 16px; width: 26%; }
		
			.ind-center input {width: 68px; position: relative; top:-3px; left: 2px;}
		
		.ind-price {font-size: 1.8em; line-height: 32px;}
		
		.ind-row a {text-decoration: underline;}
		.ind-row a:hover {color: #fff;}
		
	
	.ind-info {padding: 12px 16px;}
		.ind-info h6 {font-size: 1.2em; text-align: center; line-height: 1.8em; }
			.ind-info h6 span {font-size: 2em; padding: 0 4px; position: relative; top:4px;}
		
		.ind-info p {text-transform: uppercase; text-align: center; margin-top: 0; margin-bottom: 4px;}
		
		.ind-photos {text-align: center; padding-top: 12px;}
			.ind-photo {display: inline-block; padding:0 8px 12px;}
				.ind-photo > img {width: 48px; height: 48px; box-shadow: 0 0 12px rgba(0,0,0,.3);}
				.ind-photo > p {margin: 0; padding: 4px 0; text-align: center; text-transform: none;}
		
		

/* REGISTER PAGE */

.pop-box {box-shadow: 0 0 12px rgba(0,0,0,.2); margin-bottom: 20px; background: #f9f9f9;}
.lgn-box {box-shadow: 0 0 12px rgba(0,0,0,.2); overflow: hidden; width: 100%; border:1px solid #ccc; }

	.lgn-box > div {min-height: 400px;  width: 50%; float: left; box-sizing: border-box; -moz-box-sizing: border-box; padding: 20px 20px 4px; padding-bottom: 500em; margin-bottom: -500em;}
	.lgn-box > .reg-box {}
	.lgn-box > .sgn-box {background: #333; color: #fff;}
	.lgn-box input[type="text"],.lgn-box input[type="email"],.lgn-box input[type="password"] {}
	

input[type="button"], input[type="reset"], input[type="submit"] {    width:auto;}
/* PRE AUTH PAGE */





.pre-box {padding: 20px; border:1px solid #ccc;}
	#secure {float: right; font-size: 14px; color: #333}

	
	.pre-box .half {width: 53%; box-sizing: border-box; -moz-box-sizing: border-box; padding: 0 30px 0 0; float: left; margin-bottom: 8px;}
	.pre-box .card-details {padding: 16px; background: #fff; border:1px solid #ccc; float: right; width: 46%;}
		.pre-box h6 {line-height: 32px; margin-bottom: 16px;}
			h6 img.cards {border: none; height: 26px; float: right;}
			
						
	.pre-box .pre-action {float: none; clear: both; border-top:1px solid #333; padding-top: 20px;}

/* RESET PASSWORD PAGE */
 
.reset_wrap {padding:1em 0;}

/* CONFIRM BID PAGE */

.small-box {width: 400px; margin-left: auto; margin-right: auto;}
.con-box {padding: 20px 20px 4px; border:1px solid #ccc;}
 
	.con-caption {padding-top: 12px; font-weight:bold;}
	
	.con-details {padding: 20px 0;}
		.con-details > span {display: block; line-height: 100%; }  
		
		.con-campaign {text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
		.con-date { text-transform: uppercase;   font-weight: normal;}
		.con-venue {font-weight: bold;}
		.con-loc {font-weight: bold;}
	
	.con-item {padding-bottom: 20px; text-transform: uppercase; font-weight: 700;}
	
	.bid-box {padding: 16px 16px 0px; color: #fff; background: #333; display: table; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
		
		.bid-row {display: table-row;}
			.bid-row > div {display:table-cell; padding-bottom: 16px; vertical-align: middle; width: auto;}
			 .bid-row .bid-info {padding-left:40px; width:170px;}
				.bid-info-title {text-transform: uppercase; display: block; padding-bottom: 0px;}
				.bid-info-placed {display: block; font-size: 90%;}
				.bid-info-max {position: relative; top:4px;}
				
				.bid-row > .bid-ammount {font-size: 20px; text-align: left;}
				.bid-ammount input {width: 80px; margin-left: 1px; position: relative; top:0px; font-size: 20px !important; padding: 4px 4px;  top: -5px;}
				
	.bid-action {padding-top: 16px;}
	
	.bid-sending {text-align: center; line-height: 20px; padding: 35px 0 51px; display: block; text-transform: uppercase;}
	
	.bid-loader {padding: 20px 4px 16px;}
			
	
	.bid-next {padding: 20px 0 16px;}
		
	
	.bid-return {padding:20px 0 4px; border-top:1px solid #333;}
		.bid-return .button {float: right; margin-left: 16px;}
	
	
label[for="bid_amount"]{display:none;}

/* Loading Graphic */

#loader{
  zoom:1;/* Increase this for a bigger symbole*/
  
  display:block;
  
  width:16px;
  height:16px;
  
  float: right;
  
  animation: wait .80s steps(1, start) infinite;
  -webkit-animation: wait .80s steps(1, start) infinite;
  
  background: linear-gradient(0deg, #f9f2f3 1px, transparent 0, transparent 8px, #f9f2f3 8px),   /* 6  */
              linear-gradient(90deg, #f9f2f3 1px, #faf4f5 0, #faf4f5 3px, #f9f2f3 3px),
    
              linear-gradient(0deg, #f6ecee 1px, transparent 0, transparent 8px, #f6ecee 8px),   /* 5  */
              linear-gradient(90deg, #f6ecee 1px, #faf2f4 0, #faf2f4 3px, #f6ecee 3px),
    
              linear-gradient(0deg, #f2e6e8 1px, transparent 0, transparent 8px, #f2e6e8 8px),   /* 4  */
              linear-gradient(90deg, #f2e6e8 1px, #f6ebed 0, #f6ebed 3px, #f2e6e8 3px),
    
              linear-gradient(0deg, #e0bfc5 1px, transparent 0, transparent 10px, #e0bfc5 10px), /* 3  */
              linear-gradient(90deg, #e0bfc5 1px, #e8d3d7 0, #e8d3d7 3px, #e0bfc5 3px),
              
              linear-gradient(0deg, #cea0a9 1px, transparent 0, transparent 15px, #cea0a9 15px), /* 2  */
              linear-gradient(90deg, #cea0a9 1px, #e5cdd1 0, #e5cdd1 3px, #cea0a9 3px),
              
              linear-gradient(0deg, #d02041 1px, transparent 0, transparent 15px, #d02041 15px), /* 1  */
              linear-gradient(90deg, #d02041 1px, #d7b4bb 0, #d7b4bb 3px, #d02041 3px);  
  
  background-repeat: no-repeat;
  
  background-size: 4px 9px,   /* 6 */
                   4px 9px,
    
                   4px 9px,   /* 5 */
                   4px 9px,
    
                   4px 9px,   /* 4 */
                   4px 9px,
    
                   4px 11px,  /* 3 */
                   4px 11px,
    
                   4px 16px,  /* 2 */
                   4px 16px,
    
                   4px 16px,  /* 1 */
                   4px 16px;
  
  background-position:-4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 2px, -4px 2px, -4px 0, -4px 0, -4px 0, -4px 0;
    
}

@-webkit-keyframes wait{
  12.5%{
    background-position:   -4px,  /* 6 */
                           -4px,
      
                           -4px,  /* 5 */
                           -4px,
                   
                           -4px,  /* 4 */
                           -4px,
                           
                           -4px,  /* 3 */
                           -4px,
      
                           -4px,  /* 2 */
                           -4px,
      
                              0 ,  /* 1 */
                              0 ;
  }
  25%{
    background-position: -4px,  /* 6 */
                           -4px,
      
                           -4px,  /* 5 */
                           -4px,
                   
                           -4px,  /* 4 */
                           -4px,
                           
                           -4px,  /* 3 */
                           -4px,
      
                              0,  /* 2 */
                              0,
      
                            6px,  /* 1 */
                            6px;
  }
  37.5%{
    background-position: -4px,  /* 6 */
                           -4px,
      
                           -4px,  /* 5 */
                           -4px,
                   
                           -4px,  /* 4 */
                           -4px,
                           
                               0,  /* 3 */
                               0,
      
                             6px,  /* 2 */
                             6px,
      
                            12px,  /* 1 */
                            12px;
  }
  50%{
    background-position: -4px,  /* 6 */
                           -4px,
      
                           -4px,  /* 5 */
                           -4px,
                   
                               0,  /* 4 */
                               0,
                           
                             6px,  /* 3 */
                             6px,
      
                            12px,  /* 2 */
                            12px,
      
                            -4px,  /* 1 */
                            -4px;
  }
  62.5%{
    background-position: -4px,  /* 6 */
                           -4px,
      
                               0,  /* 5 */
                               0,
                   
                             6px,  /* 4 */
                             6px,
                           
                            12px,  /* 3 */
                            12px,
      
                            -4px,  /* 2 */
                            -4px,
      
                            -4px,  /* 1 */
                            -4px;
  }
  75%{
    background-position:     0,  /* 6 */
                               0,
      
                             6px,  /* 5 */
                             6px,
                   
                            12px,  /* 4 */
                            12px,
                           
                            -4px,  /* 3 */
                            -4px,
      
                            -4px,  /* 2 */
                            -4px,
      
                            -4px,  /* 1 */
                            -4px;
  }
  87.5%{
    background-position:   6px,  /* 6 */
                             6px,
      
                            12px,  /* 5 */
                            12px,
                   
                            -4px,  /* 4 */
                            -4px,
                           
                            -4px,  /* 3 */
                            -4px,
      
                            -4px,  /* 2 */
                            -4px,
      
                            -4px,  /* 1 */
                            -4px;
  }
  100%{
    background-position:    12px,  /* 6 */
                            12px,
      
                            -4px,  /* 5 */
                            -4px,
                   
                            -4px,  /* 4 */
                            -4px,
                           
                            -4px,  /* 3 */
                            -4px,
      
                            -4px,  /* 2 */
                            -4px,
      
                            -4px,  /* 1 */
                            -4px;
  }
}



/* TO FIX */

.itm-row > span {display: none !important;}


/* RETINA IMAGES */			

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    .nav li.nav-logo {background-image: url('../images/cs.logo_@2x.png');}
    .error {background-image: url('../images/chk_@2x.png');}
}