/*
    Document   : global
    Created on : Dec 6, 2012, 10:43:00 AM
    Author     : ianlewis
    Description:
        Global stylesheet
*/

/* #####################################################################
 generalstyles                            
###################################################################### */
 * {outline: none;}
/* reset */
*, ul, ol, li, h2, h3, h4, hr, h5, h6, pre, form, blockquote, fieldset, input { margin: 0; padding: 0; }
::-moz-selection {   background-color:#12354e;   color: white;}
::selection {   background-color:#12354e;   color: white;}
html{margin: 0 auto;padding: 0; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, body {height: 100%;}
body { font-family: 'arial', sans-serif; font-size: 12px; color:#222; margin:0; min-width:320px;}
img, img a { border: 0px; }
p {	margin: 0 0 1em 0;	padding: 0px;}
hr {clear:both; border-bottom: 1px solid black; padding: 0; margin: 20px 0 20px ;  font-size:0.01%; color: transparent;background: none;width: 100%; text-indent:-9999px;}
.smallprint {font-size: 0.8em;color: #444444;}
root {    display: block;}

/* #####################################################################
links                            
###################################################################### */
a:link, a:visited{	text-decoration: underline;	color: #03374c;}
a:hover { text-decoration: underline; color:black; cursor:pointer; }
a:visited { color: #03374c; }
a:active, a:focus { -moz-outline-style: none; }


/* #####################################################################
BUTTONS                          
###################################################################### */

input.button {display:inline-block; font-size:120%;  border:0; box-shadow:0px 0px 2px grey;  background-repeat:no-repeat; background-position:center top; padding: 2px 5px 2px; color:white; text-transform:uppercase;}
input.button:hover { background-repeat:no-repeat; background-position:center top;}

a.button {display:inline-block; font-size:100%; font-weight:bold;  box-shadow:0px 0px 2px grey;  text-decoration:none; background-repeat:no-repeat; background-position:center top; padding: 2px 5px 2px;   text-transform:uppercase;}
a.button:hover {text-decoration:none; box-shadow:0px 0px 1px grey,0px 0px 46px rgba(11,11,12,0.33) inset;}

a.buttonminor,  a.buttonminor  { background-color:#c0c0c0; color:#222222; background-repeat:no-repeat; background-position:center top;  font-weight:bold; text-decoration:none; color:black; box-shadow: 0 0 2px #a8a8a8;     display: inline-block;   font-size: 100%;   padding: 2px 5px 2px;    text-transform: uppercase;}
a.buttonminor:hover {background-color:#acacac; text-decoration:none;} 


/* #####################################################################
headers                            
###################################################################### */
h1  {}
h2{	margin: 2px 0;	font-size: 1.8em;	color: black;}
h3{	font-size: 1.3em;	font-weight: bold;}
h4 {	font-size: 1.3em;	font-weight: normal; color:#111;	 margin:0; padding:0;}
 
/* #####################################################################
positioning                            
###################################################################### */
.clear { clear: both; }
.floatleft {	float: left;	display: inline;  }
.floatright{	float: right;	display: inline;   }

/* #####################################################################
PRIMARY LAYOUT ELEMENTS
##################################################################### */

#container { margin:auto;  width:960px; /*min-width:320px;*/ }


/* #####################################################################
AUCTION DETAILS PAGE
##################################################################### */



#auctiondetails {    margin-bottom: 16px;}
#auctiondetails #detailimage {    float: left;    height: 287px;    margin-right: 16px;    position: relative;    width: 510px;}
.lt-ie9 #auctiondetails #detailimage {    margin-bottom: 16px;}
#auctiondetails #detailimage .overlay {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);   bottom: 0;    color: white;   left: 0;    padding: 10px;    position: absolute;    width: 490px;}
.lt-ie9 #auctiondetails #detailimage .overlay { }
#auctiondetails #detailimage q {    display: block;    font-style: italic;    margin-bottom: 5px;}
#auctiondetails #information {   float: left;    width: 394px;}
#auctiondetails #information h2 {    font-size: 175%;}
#auctiondetails #information .date {    color: #DB293F;   font-size: 120%;    font-weight: bold;}
#auctiondetails #information .venue {    font-size: 120%;    font-weight: bold;}
#auctiondetails #information #sharelinks {   margin-bottom: 10px;    margin-top: 12px;} 
#auctionitems {background:#cccccc;  margin-bottom: 22px; overflow: hidden; }
#auctionitems>br {display:none;}
#auctionitemlist {background:#dddddd;  width:100%; min-width:320px;}
#auctionitemlist>ul>li {display:block; padding:2px;}
#auctionitems #auctionitemlist ul { overflow: auto;} 
#auctionitems #auctionitemlist ul li:first-child {font-weight:bold;}
#auctionitems #auctionitemlist ul li {   overflow-x:hidden; border-bottom: 1px solid #666666;    border-top: 1px solid #999999;    clear: both;    display: block;    min-height: 10px;    padding: 10px 10px;}
#auctionitems #auctionitemlist ul li:nth-child(2n+1) {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);}
#auctionitemlist ul li>span {    display: inline-block;    margin-right: 6px;    padding: 5px 0;}
#auctionitemlist ul li span>span {  margin-right: 0px;}
#auctionitemlist ul li span.timeleft>b>span>span  {  margin-right: 8px;}
#auctionitemlist ul li span.itemname, #auctionitemlist ul li span.auctionitem { width:45%; white-space:nowrap;}
#auctionitemlist ul li span.timeleft, #auctionitemlist ul li span.timelefts { width:11%; text-align:left;}
#auctionitemlist ul li span.bidhistory { width:13%; text-align:center;}
#auctionitemlist ul li span.currentbids, #auctionitemlist ul li span.currentbid{ width:14%; text-align:right;}
#auctionitemlist ul li span.action {  float:right;     margin-right: 0px;  padding: 0px 0;}
#auctionitemlist   span.cdown .cd-sec, 
#auctionitemlist  span.cdown .cd-min {display:none;}



#auctionitems #auctionitemlist ul li:hover, #auctionitems #auctionitemlist ul li.hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#auctionitems #auctionitemlist ul li.ended:hover {
}

/* hide this data from the auctionitems*/
#auctionitemlist ul li.auction_item .customref,
#auctionitemlist ul li.auction_item .description,
#auctionitemlist ul li.auction_item .duration,
#auctionitemlist ul li.auction_item .customref,
#auctionitemlist ul li.auction_item .starting_bid,
#auctionitemlist ul li.auction_item .min_bid_increment,
#auctionitemlist ul li.auction_item .max_bid_increment,
#auctionitemlist ul li.auction_item .item_form {display:none;} 



 
 /*SEATPLANS*/
#auctionitems.seatplan1 #auctionitemlist {width:450px; float:right; }
#auctionitems.seatplan1 #auctionitemlist ul  {height:440px;}
/*#auctionitems #auctionitemlist.seatplan1 ul li:first-child>span{display:none;}
#auctionitems #auctionitemlist.seatplan1 ul li:first-child>span.itemname {display:block;}*/
#seatmap {width:510px; height:440px; float:left; overflow:hidden; text-align:center;}







#auctionitems.seatplan2 #seatmap {  background: url("../images/ajax-loader.gif") no-repeat scroll center 189px white;   border-right: 1px solid #743332;  overflow: hidden;    position: relative; }
#auctionitems.seatplan2 #seatmap #foreground {    bottom: 0;   box-shadow: 2px 0 59px rgba(40, 40, 40, 0.4) inset;   height: 440px;    left: 0;    pointer-events: none;    position: absolute;    width: 510px;    z-index: 4;}
.lt-ie9 #auctionitems.seatplan2 #seatmap #foreground, .ie9 #auctionitems.seatplan2 #seatmap #foreground {display: none;}
.lt-ie9 #auctionitems.seatplan2 #seatmap, .ie9 #auctionitems.seatplan2 #seatmap {   border: 1px solid grey;   height: 438px !important;}
.unselectable { -moz-user-select: none;}


/*seatplan area*/
#auctionitems.seatplan2  #seatmap #floorplanbackground {width:900px;    position:absolute;  top:-524px;left:0; z-index:3; cursor:move;}
#auctionitems.seatplan2  #seatmap #seatcontainer {position:relative;}
#auctionitems.seatplan2 #seatmap #zoomin {width:25px; height:25px; background:grey no-repeat center 3px; background:rgba(0,0,0,0.5) no-repeat center 3px; background-image:url(../images/zoom_in.png); position:absolute; z-index:10; left:10px; top:10px; box-shadow:0 0 3px rgba(0,0,0,0.9);}
#auctionitems.seatplan2 #seatmap #zoomout {width:25px; height:25px; background:grey no-repeat center 3px; background:rgba(0,0,0,0.5) no-repeat center 3px; background-image:url(../images/zoom_out.png); position:absolute; z-index:10; left:10px; top:42px; box-shadow:0 0 3px rgba(0,0,0,0.9);}
#auctionitems.seatplan2 #seatmap #zoomin.ready, #auctionitems.seatplan2 #seatmap #zoomout.ready { background-color:black; background-color:rgba(0,0,0,0.8);}
#auctionitems.seatplan2 #seatmap #zoomin.ready:hover, #auctionitems.seatplan2 #seatmap #zoomout.ready:hover { background-color:#db293f; background-color:rgba(225, 02, 02, 0.8); cursor:pointer;} 
/*seat styles*/
#auctionitems.seatplan2 #seatmap .seaticon  {position:absolute; cursor:pointer; text-indent:-9999px; border-radius:60px; border:0spx solid white; background:#dddddd; z-index:61; pointer-events: auto;}
#auctionitems.seatplan2 #seatmap .seaticon.available  { background:#03374c; }
#auctionitems.seatplan2 #seatmap .seaticon.selected  { background:#464646; }
#auctionitems.seatplan2 #seatmap .seaticon.available.selected  { background:#000000; }
 
#auctionitems.seatplan2 #seatmap .seaticon.hover, #seatmapcontainer #seatmap .seaticon:hover { background:#464646; cursor:pointer; z-index:8908;} 
#auctionitems.seatplan2 #seatmap .seaticon.available.hover, #seatmapcontainer #seatmap .seaticon.available:hover { background:#440000; cursor:pointer; } 
#auctionitems.seatplan2 #seatmap .seaticon .tooltip {position:absolute;pointer-events: none; top:-35px; padding:5px 10px; /*min-width:180px;*/ width:auto; left:-22px; font-size:90%; background:black; background:rgba(0,0,0,0.8); color:white; display:none; white-space:nowrap; }
#auctionitems.seatplan2 #seatmap .seaticon .tooltip span{ display:block; text-indent:0; white-space:nowrap;} 
#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.currency {display:inline;}
#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.pretext {display:inline-block; }
#auctionitems.seatplan2 #seatmap .seaticon .tooltip span.littlearrow{ width:10px; height:12px; left:19px; position:absolute; bottom:-12px; background:url(../images/littlearrow.png);}
#auctionitems.seatplan2 #seatmap .seaticon.available:hover .tooltip {display:block;}

 
 
 
 /* bid details */
 #seatdetails {float:left; width:448px; color:white; display:none;}
.lt-ie9  #seatdetails {width:405px; }
.ie9  #seatdetails {width:405px; }
 #seatdetails #seatnumbers { overflow:auto; font-weight:bold; padding: 16px 16px 6px 16px; background:#9d1d32; background:rgba(0,0,0,0.17); border-bottom:1px solid #6d2a37; font-size:160%; text-shadow:-1px -1px 0px #323232;}
 #seatdetails #seatnumbers .tiny {display:block; font-size:50%; margin-top:5px; font-weight:normal;opacity:0.4; filter:alpha(opacity=40); text-shadow:0; }
#seatdetails .viewall {font-size:12px; float:right; color:white; text-shadow:none;  margin-top:10px; margin-left:16px;}
#seatdetails #currentbid { overflow:auto; padding:8px 16px; border-top:1px solid #bc4a5c; border-bottom:1px solid #6d2a37;}
#seatdetails #currentbid .label .pretext {font-weight:bold; text-transform:uppercase;}
#seatdetails #currentbid .label span { font-weight:normal;}
#seatdetails #currentbid .label  #currentbidder {display:block;}
#seatdetails #currentbidvalue { margin-left:10px; float:left; width:100px;}
#seatdetails #currentbid a {color:white; margin-top:1px;display: inline-block; float:right; padding-top: 5px; }
#seatdetails #timeleft { overflow:auto; padding:8px 16px; border-top:1px solid #bc4a5c; background:#9d1d32; background:rgba(0,0,0,0.1);  border-bottom:1px solid #6d2a37;}
#seatdetails #timeleft #countdown {font-size:120%; margin-left:10px;}
#seatdetails #timeleft #countdown>span {margin-right:10px;}
#seatdetails #bidhistory {display:none;}
#seatdetails #yourbid { padding:8px 16px;  border-top:1px solid #bc4a5c;}
#seatdetails #yourbid  .currency {font-size:175%;}
#seatdetails .label {width:156px; float:left; display:block; font-weight:bold;}
#seatdetails .label small {display:block; font-weight:normal;}
#seatdetails #currentbidvalue {font-size:175%;}
#seatdetails #yourbid  small .currency {font-size:100%;}
#seatdetails #yourbid input[type="text"]{ width:82px; padding:3px; border:0;  font-size:130%; font-weight:bold; margin:-3px 5px 0; box-shadow:0px 0px 2px grey;}

#seatdetails #yourbid .button {background:url(../images/button_shine.png) #efefef no-repeat center top;background:url(../images/button_shine.png) no-repeat center top, url(../images/button_shine.png) no-repeat center top, url(../images/button_shine.png)   #cfcfcf no-repeat center top; color:black; font-size:135%; padding:3px 15px 2px; margin-left:15px;}
#seatdetails #yourbid .button:hover {background-color:#c0c0c0;}
    
#seatdetails #redrows {font-size:126%; margin-top:5px; display:none;}
#seatdetails #redrows>span{   font-weight: normal; display:block; text-align:center; margin-bottom:10px;}
#seatdetails #redrows span b {background:none; font-weight: normal; margin-top:-10px; font-size:190%; padding:0 5px;	vertical-align: baseline;	position: relative;	top: 0.15em;}
#seatdetails ul#stories {display:block; text-align:center;}
#seatdetails ul#stories li {display:inline-block; margin:5px;  text-align:center;} 
#seatdetails ul#stories li a {color:white;}   
.lt-ie9 #seatdetails ul#stories li {display:inline;}
#seatdetails ul#stories li a { text-decoration:none;}
#seatdetails ul#stories li a .name {color:white; font-size:90%; text-decoration:none;}   
#seatdetails #historybidders td {text-align:left;}
#seatdetails ul#stories li img {box-shadow:0 0 3px #333333; border:0; width:90px; height:90px; background:black; display:block;}    
#seatdetails ul#stories li a:hover img {box-shadow:0 0 4px #111;}    

 
 
 /* Notebox styles */
#notebox {color:white;  background:white; color:#232323; box-shadow: 0 0 10px #444444;left: 50%;margin-left: -270px;padding: 10px 20px 20px 20px ;position: absolute;text-align: left; top:240px; width:500px; z-index: 99999;}
.lt-ie9 #notebox {border:1px black solid;}
#notebox h2 {display:block; text-align:left; margin-bottom:16px;}
#notebox #bidbox {background:url(../images/seatmap_bg.jpg) #db293f center bottom; padding:15px; color:white; margin:10px 0 0;}
#notebox .littlemessage {display:block;}
#notebox .littlemessagebuttons {text-align:right; display:block;}
#notebox .error {color:#a71930; font-weight:bold;}

#notebox .label {width:170px; margin-left:15px; float:left; display:block; font-weight:bold; clear:both; margin-bottom:10px;}
#notebox #bidbox .label {margin-left:0;margin-top:7px; width:165px;}
#notebox #bidbox .currency {font-size: 175%;}
#notebox .currentbid, #notebox .timeleft {float:left; width:220px; display:block; font-size:150%; font-weight:bold;}
#notebox .timeleft {font-size:120%; font-weight:normal;}
#notebox input[name="newbid"] { border: 0 none;    box-shadow: 0 0 2px grey;    font-size: 130%;    font-weight: bold;    margin: -3px 5px 0;    padding: 3px;    width: 82px;}
#notebox #bidbox .minbid {display:block; padding:10px 0 0 175px;  }
#overlay {background:white;cursor: pointer;height: 100%;left: 0;min-height:100%;filter:alpha(opacity=76);opacity:0.76; position:fixed;top: 0;width:100%;z-index: 99998;}
#loader {width:16px; height:11px; position:absolute; z-index: 99999; top:300px; left:50%; margn-left:-8px;}
 
#notebox th {text-align:left;}
 
 
 



/*
.content_area {
    min-height: 800px;
}

.footer {
    position: relative;
    padding: 1em;
    padding-top: 2em;
    background-color: #ffcccc;
    margin-top: 1em;
}

.footer > span.copyright {
    display: block;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    color: grey;
}


.display_box {
    float: left;
    width: 288px;
    height: 120px;
    padding: 10px;
    border: burlywood thin solid;
    margin: 2px;
}

.bid_panel {
     background-color: rosybrown;
    padding: 0.3em;
    margin: 2px;
    color: cornsilk;
    width: 25em;
}

.bid_panel > .current_bid {
    height: 3em;
    background-color: red;
    color: white;
    margin: 2px;
    padding: 2px;
    width: 10em;
    float: right;
}

.centre_horiz {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centre_vert {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

div.content_box > span {
    display: block;
}

ul.errors {
    margin: 0;

}

ul.errors li {
    list-style: none;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 0;
    font-style: italic;
    color: #ff0000;
    font-size: 0.8em;
}

form label.required:after {
    content: "*";
}

*/