/*
    Document   : Red
    (RED) 2013 stylesheet

*/


@import url("//hello.myfonts.net/count/271c00");
@font-face {font-family: 'TradeGothicLTPro-BdCn20';src: url('../fonts/271C00_0_0.eot');src: url('../fonts/271C00_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/271C00_0_0.woff') format('woff'),url('../fonts/271C00_0_0.ttf') format('truetype');}
 
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 letter-spacing:1px;
}




::-moz-selection {   background-color:#aB293F;   color: white;}
::selection {   background-color:#aB293F;   color: white;}

 

/* #####################################################################
BUTTONS                          
###################################################################### */

input.button {
    background: url("../images/button_shine.png") no-repeat scroll center top #DB293F;
    border: 0 none;
    box-shadow: 0 0 2px grey;
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 3px 7px 2px;
    text-transform: uppercase;
    font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica; font-weight:normal;  
}
input.button:hover {
    background: url("../images/button_shine.png") no-repeat scroll center top #A71930;
}
a.button {
    background: url("../images/button_shine.png") no-repeat scroll center top #DB293F;
    box-shadow: 0 0 2px grey;
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 3px 7px 2px;
    text-transform: uppercase;
        font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;  font-weight:normal;  
}
a.button:hover {
    background: url("../images/button_shine.png") no-repeat scroll center top #A71930;
    
}
a.buttonminor {
    background: url("../images/button_shine.png") no-repeat scroll center top, url("../images/button_shine.png") no-repeat scroll center top, url("../images/button_shine.png") no-repeat scroll center top #CFCFCF;
    box-shadow: 0 0 2px #A8A8A8;
    color: black;
    display: inline-block;
    font-size: 15px;
    padding: 3px 7px 2px;
    text-transform: uppercase;
        font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;  font-weight:normal;  
}
a.buttonminor:hover {
    background-color: #C0C0C0;
}




/* #####################################################################
AUCTION DETAILS PAGE
##################################################################### */




#auctionitems {    background: url("../images/seatmap_bg.jpg") repeat scroll 0 0 #DB293F;}

#auctionitemlist {background:transparent; }
#auctionitems #auctionitemlist ul li {
    border-bottom: 1px solid #6D2A37;
    border-top: 1px solid #BC4A5C;
    color: white;
}

#auctionitems.seatplan2 #seatmap .seaticon.available  { background:#DB293F; }
#auctionitems.seatplan2 #seatmap .seaticon.selected  { background:#000000; }

#seatdetails #seatnumbers>span { font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;  font-weight:normal; text-transform:uppercase; text-shadow:0px;  }
#seatdetails #seatnumbers {text-shadow:0px 0px transparent; }

#seatdetails #redrows {font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;}
#seatdetails #redrows > span {text-transform:uppercase;}
#seatdetails #redrows > span small {line-height:1em;}





/*Stories*/

/* Storybox bidbox */
#notebox.bidbox {margin-left: -390px; position: absolute; top:200px; width:740px;}

/* Storybox styles */
#notebox.storybox {color:white;  background:url("../images/stories_bg.jpg") repeat scroll 0 0 #DB293F; margin-left: -420px; width:800px; font-size:130%; top:360px;  }
#notebox.storybox img {box-shadow:0 0 3px #333333; margin-top:10px; float:left;}
#notebox.storybox h2 {color:white; margin-bottom:0; text-transform:uppercase; font-size:170%; font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;  font-weight:normal;}
#notebox.storybox .littlemessage { float:left; padding:10px 0px 10px 15px; display:inline-block; width:314px;    clear:none;  font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica;}
#notebox.storybox .littlemessage .country {display:block; margin:0 0 10px 0; text-transform:uppercase;  font-family:'TradeGothicLTPro-BdCn20','LeagueGothicRegular', helvetica; font-weight:normal;}
#notebox.storybox .littlemessagebuttons{border-top:1px solid white; padding-top:15px; margin-top:15px;}








