<h1>Event 5 - Static Content</h1>
<p>This file will be included by the relevant viewscript.
Clunky right now because we are using an ID which is equivalent to a <a href="http://stackoverflow.com/questions/47882/what-is-a-magic-number-and-why-is-it-bad">MAGIC NUMBER</a>.<br />
</p>

<?php
$auction = $this->auction;

$auctionID = 'xxxxxxx';
// im checking if  files in order to set the attributes. let me know if there is a more efficient sollution.

$seatplanimage = 'images/seatplans/' . $auctionID . '.jpg';
if (file_exists($seatplanimage)) {
    // ??????
    // why is this empty?
} else {
    $seatplanimage = '';

}
$seatplanscript = 'js/seatplans/' . $auctionID . '.js';
if (file_exists($seatplanscript)) {
    // ?????
}
else {
    $seatplanscript = '';

}

$seatplansvg = 'js/seatplans/' . $auctionID. '.svg';
if (file_exists($seatplansvg)) {
    // ????
}
else {
    $seatplansvg = '';

}
?>

<div id="auctioncontainer" data-auctionID="<?php echo $auctionID ?>" data-seatplanimage="<?php echo $seatplanimage ?>" data-seatplanscript="<?php echo $seatplanscript ?>" data-seatplansvg="<?php echo $seatplansvg ?>" data-seatplanswitch="0" data-time="<?php echo time();?>">
	<div id="auctiondetails">
		<h2><?php echo $auction['campaign_name'] ?><!-- artist name --></h2>
		<span id="date">December 1st, 2013</span>
		<span id="venue">MGM grand theater, Las Vegas, NV</span>
		<div id="sharelinks">[twitter][facebook]</div>
		<span id="auction_description">Experience Justin Timberlake live from the best seats in the house as he performs his most recent <em>The 20/20 Experience</em> album. Your bid helps support the fight against HIV/AIDS. <br><br> <strong>You Are Bidding On:</strong> One (1) pair of premium seats.</span>
	</div><!--/div auctiondetails-->

	<div id="auctionitems">

		<div id="auctionitemlist">
			<ul>
				<li class="headerrow"><span class="itemname">Auctions</span><span class="timelefts">Time&nbsp;Left</span><span class="bidhistory">Bids</span><span class="currentbids">Current&nbsp;Bid</span></li>
			
				<li data-itemref="floor_a_row_4_seats_1_&_2"><span class="auctionitem">Floor A, Row 4, Seats 1 & 2</span><span class="timeleft"><b><span data-time="1367960001" class="cdown"></span></b></span><span class="bidhistory">6</span><span class="currentbid">$1,150.00</span><span class="action"><a class="button" href="#">View</a></span></li>
				<li data-itemref="floor_a_row_4_seats_3_&_4"><span class="auctionitem">Floor A, Row 4, Seats 3 & 4</span><span class="timeleft"><b><span data-time="1368600001" class="cdown"></span></b></span><span class="bidhistory">22</span><span class="currentbid">$120.00</span><span class="action"><a class="button" href="#">View</a></span></li>
				<li data-itemref="section_1_row_5_seats_1_&_2"><span class="auctionitem">Section 1, Row 5, Seats 1 & 1</span><span class="timeleft"><b><span data-time="1368800001" class="cdown"></span></b></span><span class="bidhistory">8</span><span class="currentbid">$88.00</span><span class="action"><a class="button" href="#">View</a></span></li>
				<li data-itemref="section_1_row_7_seats_3_&_4"><span class="auctionitem">Section 1, Row 7, Seats 3 & 4</span><span class="timeleft"><b><span data-time="1368999901" class="cdown"></span></b></span><span class="bidhistory">1</span><span class="currentbid">$77.00</span><span class="action"><a class="button" href="#">View</a></span></li>


			</ul>
		</div><!--/div auctionitemlist-->
	<br class="clear"/>
	</div><!--/div auctionitems-->
</div><!--/div auctioncontainer-->



