<?php
    $title = $this->translate("Change Password");
    $this->headTitle($title);
?>
<h2><?php echo $title ?></h2>

<div class="change_wrap">
    <p><?php echo $this->message ?></p>
    <?php echo $this->form ?>
</div>