<?php
    // Insert the title here.
    $title = "PreAuth Check";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <p>
        To take part in the auction you must validate yourself with a credit card.

        We will take a small amount from your account to confirm that sfth srth
         thr ysrtghwrt wr rwt wwtrgw5tyw5gyw wrtrstgdff rty45wyjruyj dheryef
    </p>

    <form action="/user/confirm-bid-preauth-check" method="post">
        <select name="pre_auth" size="2" id="pre_auth">
            <option value="0">Got no money - I'll never pre-auth</option>
            <option value="1">I'm loaded - pre-auth me immediately!</option>
        </select>
        <input type="hidden" name="user_id" value="<?php echo $this->auth_userid ?>" />

        <br />
        <input type='submit' value='Hit me up!' name='submit' />
    </form>
</div>
