<?php
    $title = $this->translate("User Login and Registration");
    $this->headTitle($title);
?>
         
<main role="main">
    <section id="login" class="cf">
    
        <div class="lgn-box pop-box cf">
            <div class="reg-box">
                <h3>Register</h3>
                <p>Please register to participate in auctions.<br><br /></p>

                <?php echo $this->registrationForm ?>

            </div>
            <div class="sgn-box">
                <h3>Sign In</h3>
                <p>Already have an account? Sign in below to access your account information and place new bids.</p>

                <?php echo $this->form ?>
              <a id="forgot" href="/user/reset-pass">Forgot Username or Password?</a>
            </div>
        </div>
    </section>              
</main>