<?php
    // Insert the title here.
    $title = "My Account";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>
<h2>Username: <?php echo $this->username ?></h2>
<p><a href="/user/change-pass">Change Password</a></p>


<?php
/*
<div class="template_content">
    <h3>Card PreAuthorisation</h3>
    <pre>
        <?php var_dump($this->hasPreauth) ?>
    </pre>

    <h3>Your information</h3>
    <pre>
        <?php var_dump($this->userData) ?>
    </pre>
</div>
*/
?>