<?php
    $title = $this->translate("Reset Password");
    $this->headTitle($title);
?>

<div class="pop-box small-box con-box cf">
<h2><?php echo $title ?></h2>
 
<?php if ($this->success != 1) : ?>
<div class="reset_wrap">
    <?php echo $this->form ?>
</div>
<?php else : ?>
   <p> <?php echo $this->message ?></p>
<?php endif ?>

</div>