<?php
/**
 *
 * @author Ian Lewis <ian.lewis@crowdsurge.com>
 * @copyright (c) 2012, Crowdsurge Ltd
 */

    /**
     * @var Auction_Form_ConfirmBid $form
     */
    $form = $this->element;

    // Designer:: If you want to use your own form labels
    // then remove , 'Label' from the arrays below.
    foreach ($form->getElements() as $e) {
        $e->setDecorators(array('ViewHelper', 'Errors', 'Label'));
    }

    // sub forms
    $bidForm     = $form->getSubForm('bid_form');
    foreach ($bidForm->getElements() as $e) {
        $e->setDecorators(array('ViewHelper', 'Errors', 'Label'));
    }

    // Which address to show
    $addr = $this->address_action;
?>

<form id="confirm_bid"  enctype="application/x-www-form-urlencoded" method="post" action="">
    <fieldset>
        <div class="bid-box">

            <?php if (!empty($this->highest_bidder_username)) : ?>

                <div class="bid-row">
                    <div class="bid-info">
                        <span class="bid-info-title">Current Bid</span>
                        <span class="bid-info-placed">Placed by <?php echo $this->highest_bidder_username ?></span>
                    </div>
                    <div class="bid-ammount">
                        <?php echo $this->currency_symbol ?><?php echo $this->current_bid ?>
                    </div>
                </div>

            <?php endif ?>

            <div class="bid-row">
                <div class="bid-info">
                    <span class="bid-info-title">Your Maximum Bid</span>
                    <span class="bid-info-placed">Enter <?php echo $this->currency_symbol ?><?php echo $this->next_minimum_bid ?> or more</span>
                </div>
                <div class="bid-ammount">
                    <?php echo $this->currency_symbol ?> <?php echo $bidForm->getElement('bid_amount') ?>
                    <?php echo $bidForm->getElement('campaign_id') ?>
                    <?php echo $bidForm->getElement('auction_id') ?>
                    <?php echo $bidForm->getElement('item_id') ?>
                    <?php echo $bidForm->getElement('user_id') ?>
                    <?php echo $bidForm->getElement('place_bid_now') ?>
                    <?php echo $bidForm->getElement('maximum_bid') ?>
                    <?php echo $bidForm->getElement('minimum_bid') ?>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="bid-action">
        <div class="cf">
            <?php echo $bidForm->getElement('submit_bid')->removeDecorator('Label') ?>
            <a class="button white" id="cancel" href="<?php $this->baseUrl("/auction/detail/campaign_id/{$this->campaign_id}/auction_id/{$this->auction_id}") ?>">Cancel</a>
        </div>
    </fieldset>
</form>