<?php
/**
 *
 * @author Ian Lewis <ian.lewis@crowdsurge.com>
 * @copyright (c) 2013, CER Ltd
 */

    /**
     * @var Auction_Form_PaymentDetails $form
     */
    $form = $this->element;

    // Designer:: If you want to use your own form labels
    // then remove , 'Label' from the arrays below.
    foreach ($form->getElements() as $e) {
        $e->setDecorators(array('ViewHelper', 'Errors'));
    }
    $form->getElement('accept_terms_and_conditions')
            ->addDecorator('Description', array('escape' => false));

?>

    <?php if ($form->getMessages()) : ?>
        <div class="error">
            <ul>
                <li>We are unable to verify your card using the payment details provided. Please check over your details below
                    to ensure they are correct. If you continue to experience difficulties, please contact your card issuer or
                    try a different card.</li>
            </ul>
        </div>
    <?php endif ?>

    <form id="payment_details_form" method="post" action="">

        <input type="hidden" name="amount" id="amount" value="<?php echo $this->amount ? $this->amount : '0.05' ?>" />

        <fieldset class="half card-details">
            <h6>Card Details <img class="cards" src="/images/cards-new.png" alt="Visa, Mastercard, American Express" /></h6>
            <div class="cf">
                <label for="username">Card Type</label>
                <?php echo $form->getElement('card_type') ?>
            </div>
            <div class="cf">
                <label for="username">Card Number</label>
                <?php echo $form->getElement('card_number') ?>
            </div>
            <div class="cf">
                <label for="username">Expiry Date</label>
                <?php echo $form->getElement('expiry_year') ?>
                <?php echo $form->getElement('expiry_month') ?>
            </div>
            <div class="cf">
                <label for="username">Security Code</label>
                <?php echo $form->getElement('cvv_code') ?>
            </div>
            <div class="cf">
                <label class="checkbox" for="">
                    <?php echo $form->getElement('accept_terms_and_conditions') ?>
                </label>
            </div>
        </fieldset>

        <fieldset class="half">
            <h6>Billing Address</h6>
            <div class="cf">
                <label for="username">First Name</label>
                <?php echo $form->getElement('first_name') ?>
            </div>
            <div class="cf">
                <label for="username">Last Name</label>
                <?php echo $form->getElement('last_name') ?>
            </div>
            <div class="cf">
                <label for="username">Address Line 1</label>
                <?php echo $form->getElement('address_line_1') ?>
            </div>
            <div class="cf">
                <label for="username">Address Line 2</label>
                <?php echo $form->getElement('address_line_2') ?>
            </div>
            <div class="cf">
                <label for="username">City</label>
                <?php echo $form->getElement('town_city') ?>
            </div>
            <div class="cf">
                <label for="username">State <span>or</span> County</label>
                <?php echo $form->getElement('county_state') ?>
            </div>
            <div class="cf">
                <label for="username">ZIP <span>or</span> Post Code</label>
                <?php echo $form->getElement('post_zip_code') ?>
            </div>
            <div class="cf">
                <label for="username">Country</label>
                <?php echo $form->getElement('country_id') ?>
            </div>
        </fieldset>

        <fieldset class="pre-action">
            <div class="cf">
                <?php echo $form->getElement('currency') ?>
                <?php echo $form->getElement('user_id') ?>
                <?php echo $form->getElement('submit') ?>
                <a class="button white" id="cancel" href="#">Cancel</a>
            </div>
        </fieldset>

    </form>
