<?php
/**
 *
 * @author Ian Lewis <ian.lewis@crowdsurge.com>
 * @copyright (c) 2013, CER Ltd
 */

    /**
     * @var Auction_Form_PaymentDetails $form
     */
    $form = $this->element;

    // Designer:: If you want to use your own form labels
    // then remove , 'Label' from the arrays below.
    foreach ($form->getElements() as $e) {
        $e->setDecorators(array('ViewHelper', 'Errors', 'Label'));
    }

?>

<div class="content_area" style="width: 700px; padding: 10px; margin-left: auto; margin-right: auto; min-height: 400px;">
    <div style="color: white; background-color: #ff6666; padding: 15px; margin-bottom: 20px;">
    <h3>Congratulations!</h3>
    <p>
        Well done on winning the auction. This is the place to pay for the auction you won and ensure your money goes
        to the right place. As you know Helping a [child/cancer/hiv/terminal patient] in this way is guaranteed to provide a better life
        for them and their families. You can be happy in the knowledge that you are contributing to a good cause and that you are going
        have a great night out too.
    </p>

</div>
    <?php if ($form->getMessages()) : ?>
    <div  style="color: white; background-color: #000000; padding: 15px; margin-bottom: 20px;">
        <div style="float:left; font-size: 3em; padding: 3px; margin-right: 2px; width: 15px; height: 60px;">!</div>
        <div style="">
         We are unable to verify your card using the payment details provided. Please check over your details below
         to ensure they are correct. If you continue to experience difficulties, please contact your card issuer or
         try a different card.

        </div>

    </div>
    <?php endif ?>

    <form id="payment_details_form" method="post" action="">

        <input type="hidden" name="auth_amount" id="auth_amount" value="<?php $this->auth_amount ?>" />

        <div class="right_content" style="min-width: 48%; float: right;">
            <!-- Card Payment Form -->
            <ul style="list-style: none;">
                <li style="padding: 3px;"><?php echo $form->getElement('currency') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('settlement_amount') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('card_type') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('card_number') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('expiry_month') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('expiry_year') ?></li>
                <li style="padding: 3px;"><?php echo $form->getElement('cvv_code') ?></li>
            </ul>
        </div>

        <div class="left_content" style="min-width: 48%;">
            <!-- Address Form -->
            <ul style="list-style: none;">
            <li style="padding: 3px;"><?php echo $form->getElement('first_name') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('last_name') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('address_line_1') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('address_line_2') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('town_city') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('county_state') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('post_zip_code') ?></li>
            <li style="padding: 3px;"><?php echo $form->getElement('country_id') ?></li>
            </ul>

            <?php echo $form->getElement('user_id') ?><br />
            <?php echo $this->formSubmit('Submit', 'Submit') ?>

        </div>

    </form>
</div>
