<?php
    $title = $this->translate("Current Campaigns");
    $this->headTitle($title);
?>

<?php
//Get first campaigns
$count = 1;
$first_campaigns = array();
$last_campaigns = array();
foreach($this->campaigns as $campaign) {

    if ($count < 7) {
        $first_campaigns[] = $campaign;
    }
    else {
        $last_campaigns[] = $campaign;        
    }

    $count++;
}
?>

<!-- CONTENT start of campaign template -->

 


<main role="main">
    <section id="landing" class="cf">
    
        <!-- Repeat 6 Times -->
        <?php foreach($first_campaigns as $campaign) : ?>

            <a class="lnd-box" id="lnd_<?php echo $campaign['campaign_custom_ref'] ?>" href="/auction/list/campaign_id/<?php echo $campaign['campaign_id'] ?>">
                <img src="/themes/red/images/<?php echo $campaign['campaign_custom_ref'] ?>_sq.jpg" alt="<?php echo $campaign['campaign_name'] ?>" />
                <div class="lnd-details">
                    <h2><?php echo $campaign['campaign_name'] ?></h3>
                    <p><?php echo $campaign['description'] ?></p>
                    <div><?php echo $campaign['active_auctions'] ?> Events</div>
                </div>
            </a>

         <?php endforeach ?>
        <!-- End Repeat -->
        
        <!-- Red Banner -->
        <div class="lnd-widebox banner">
            <h4 id="phrase1">Bid on tickets to see the world's greatest artists.<br/> Great Music Saves Lives</h4>
            <h4 id="phrase2">Your bid could provide life-saving medication to help deliver an aids free generation by 2015</h4>
        </div> 
        <!-- End Banner -->
        
        <!-- Red Video -->
        <div class="lnd-widebox video">
            <iframe id="ytplayer" type="text/html" width="450" height="215" src="https://www.youtube.com/embed/9ZyLKtPuVZA?controls=0&amp;modestbranding=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- End Video -->
        
        <!-- Repeat .lid-box for resto of campaigns -->
        <?php foreach($last_campaigns as $campaign) : ?>

            <a class="lnd-box" id="lnd_<?php echo $campaign['campaign_custom_ref'] ?>" href="/auction/list/campaign_id/<?php echo $campaign['campaign_id'] ?>">
                <img src="/themes/red/images/<?php echo $campaign['campaign_custom_ref'] ?>_sq.jpg" alt="<?php echo $campaign['campaign_name'] ?>" />
                <div class="lnd-details">
                    <h2><?php echo $campaign['campaign_name'] ?></h3>
                    <p><?php echo $campaign['description'] ?></p>
                    <div><?php echo $campaign['active_auctions'] ?> Events</div>
                </div>
            </a>

         <?php endforeach ?>
        <!-- End Repeat -->
<br class="clear"/>
    </section>
</main>

<!-- CONTENT end of campaign template -->