<div>
    <p>
        Welcome to Survey Vista.<br />
        <br />
        You are registered for the following tests:
    </p>
    <p>
        <ul>
            <li><a href="/trial/intro/p/project1">Project 1</a> +status+</li>
            <?php foreach ($this->aProjects as $aProj) :?>
            <li><a href="/trial/intro/p/<?php echo $aProj['project_id'] ?>"><?php echo $aProj['project_name'] ?></a> (<?php echo $aProj['description'] ?>)
                <a href="/project/edit/p/<?php echo $aProj['project_id'] ?>">edit</a>
            </li>
            <?php endforeach ?>
        </ul>
    </p>
</div>