<?php
    // Insert the title here.
    $title = "Payment Details";
    $this->headTitle($this->translate($title));
?>

<main role="main">
	<section id="pre-auth" class="cf">
	
		<div class="pre-box pop-box cf">
			<h3>Payment Details <div id="secure">This page is secured with up to 256 bit encryption</div></h3>
			
			<div class="alert">
				<h5>Please Note</h5>
				<p>In order to place bids your credit card must be pre-authorised to ensure that the card is valid, your paymemnt information is correct. No funds will be taken from your account at this time, however the process may appear on your statement depending on your bank.</p>
				<p><strong>Your Credit Card will only be charged if you are the highest bidder at the close of the auction.</strong></p>
			</div>

			<?php echo $this->form ?>

		</div>
	</section>				
</main>
