<?php
    // Insert the title here.
    $title = "Settlement Page";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <?php

        echo $this->form;

    ?>
</div>
