<?php
    // Insert the title here.
    $title = "Page Not Found";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <p>
        The page you requested was not found. Please check the address you entered and correct any errors.
    </p>
</div>
