<?php
    // Insert the title here.
    $title = "An Error Occurred";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <p>
        An error occurred while processing your request.<br />

        Crowdsurge has been informed about this error and it will be fixed as soon as possible. Let us know if this issue prevents you enjoying the site.
    </p>
</div>
