<?php
    // Insert the title here.
    $title = "Check JSON Endpoint";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">

    <div style="width: 600; height: 400; background-color: #99ffff" id="content">

    </div>

    <script type="application/javascript">
        (function(){

            function fetchData()
            {
                console.log("Called fetchData");

                var url = 'http://ianl.auction.crowdsurge.com/index/get-server-time/format/json'
                jQuery.getJSON(
                    url,
                    function(data) {
                        jQuery('#content').html(data.time);
                    }
                );
            }

            setInterval(fetchData, 10000);


        })();

    </script>

</div>
