<div>
    <h4>Edit details for: <?php echo $this->aDetails['project_name'] ?></h4>
    <div>
        <?php echo $this->aDetails['project_summary'] ?>
    </div>
    <ul>
        <li><strong>Actions</strong></li>
        <li><a href="/project/edit-intro/p/<?php echo $this->aDetails['project_id'] ?>">Edit Intro</a></li>
        <li><a href="">Demographic Selection</a></li>
        <li><a href="/project/edit-start-details/p/<?php echo $this->aDetails['project_id'] ?>">Edit Start Information</a></li>
        <li><a href="/project/edit-test-page-guidance/p/<?php echo $this->aDetails['project_id'] ?>">Edit Test Page Guidance Notes</a></li>
        <li><a href="/project/edit-thanks-page/p/<?php echo $this->aDetails['project_id'] ?>">Edit Thanks Page</a></li>

    </ul>

</div>