
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>(RED) Rows - Payment Confirmation</title>
	<style>
	a:hover {
		text-decoration: underline !important;
	}
	td.promocell p {
		color:#333;
		font-size:22px;
		line-height:26px;
		font-family:Arial, sans-serif;
		margin-top:0;
		margin-bottom:0;
		padding-top:0;
		padding-bottom:0px;
		font-weight:normal;
	}
	td.contentblock h4 {
		color:#222 !important;
		font-size:14px;
		line-height:24px;
		font-family:Arial, sans-serif;
		margin-top:0;
		margin-bottom:10px;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock h4 a {
		color:#d02142;
		text-decoration:none;
	}
	td.contentblock p, td.contentblock ul li {
	  	color:#333;
		font-size:13px;
		line-height:19px;
		font-family:Arial, sans-serif;
		margin-top:0;
		margin-bottom:12px;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock p a, td.contentblock li a, td.footershow p a, td.footershow a {
	  	color:#d02142;
		text-decoration:none;
	}

	td.contentblock ul {

		margin-left:10px;
		padding-top:0;
		padding-bottom:0;
		list-style:circle;
	}

	td.contentblock ul li{

		margin-left:0px;
		padding-top:0;
		padding-bottom:0;
		margin-bottom:4px;
		margin-top:0px;
	}
	table[id="content"] {
		-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    0px 0px 15px rgba(0, 0, 0, 0.3);
		box-shadow:         0px 0px 15px rgba(0, 0, 0, 0.3);
		padding:0px;

	}

	@media only screen and (max-device-width: 480px) {
	     div[class="header"] {
	          font-size: 16px !important;
	     }
	     table[class="table"], td[class="cell"] {
	          width: 300px !important;
	     }
		table[class="promotable"], td[class="promocell"] {
	          width: 325px !important;
	     }
		td[class="footershow"] {
	          width: 300px !important;
	     }
		table[class="hide"], img[class="hide"], td[class="hide"] {
	          display: none !important;
	     }
	     img[class="divider"] {
		      height: 1px !important;
		 }
		  img[class="seperator"] {
		      height: 10px !important;
		 }
		 td[class="logocell"] {
			width: 325px !important;
		 }

		 img[id="logo"] {
		 	width: 82px !important;
	        height: 20px !important;
		 }


	     img[id="screenshot"] {
	          width: 325px !important;
	          height: 127px !important;
	     }

	     img[id="bandimage"] {

	     }

	     img[id="powered"] {
	     	 width: 60px !important;
	         height: 18px !important;
	     }

	     img[class="moblog"] {
	         height: 8px !important;
	     }

		img[class="galleryimage"] {
			  width: 53px !important;
	          height: 53px !important;
		}
		img[class="footer"] {
	          height: 10px !important;
		}
		p[class="reminder"] {
			font-size: 11px !important;
		}
		h4[class="secondary"] {
			line-height: 22px !important;
			margin-bottom: 15px !important;
			font-size: 14px !important;
		}

		table[id="content"] {
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
	}
	</style>
</head>
<body bgcolor="#f9f9f9" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="width:100% !important;background:#f9f9f9;-webkit-text-size-adjust:none;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f9f9f9">
<tr>
	<td bgcolor="#f9f9f9" width="100%">
	<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="40" class="divider"><br>

	<table bgcolor="#ffffff" width="600" cellspacing="0" cellpadding="20" border="0" align="center" class="table" id="content">
	<tr>
		<td width="600" class="cell">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td bgcolor="#fff"><img border="0" src="http://www.crowdsurge.com/mailer/red/images/header.png" label="(RED) Rush" width="600" height="253" id="screenshot"></td>
			</tr>
		</table>

        <repeater>
			<?php echo $this->layout()->content; ?>
		</repeater>

		</td>
	</tr>
	</table>

	<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="40" class="divider"><br>

	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e4e4e4">
	<tr>
		<td>

			<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="30"><br>

			<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
			<tr>
				<td width="600" nowrap bgcolor="#e4e4e4" class="cell">

					<table width="600" cellpadding="0" cellspacing="0" border="0" class="table">
					<tr>
						<td width="50%" valign="top" class="footershow">

							<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="12"><br>

							<p style="color:#a6a6a6;font-size:12px;font-family:Arial, sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;" class="reminder">
                                <a style="color:#d02142" href="<?php echo $this->escape($this->layout()->site_url); ?>/info/terms-and-conditions">Privacy</a> /
                                <a style="color:#d02142" href="<?php echo $this->escape($this->layout()->site_url); ?>/info/terms-and-conditions">Terms</a> /
                                <a style="color:#d02142" href="<?php echo $this->escape($this->layout()->site_url); ?>/info/terms-and-conditions">FAQ</a>
                            </p>

						</td>
						<td align="right" width="50%" valign="top" class="">
							<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="0" class="moblog"><br />
							<img border="0" src="http://www.crowdsurge.com/mailer/red/images/powered.png" width="92" height="28" id="powered"></td>
					</tr>
					</table>

				</td>
			</tr>
	   		</table>

			<img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="25"><br>


	   </td>
	</tr>
	</table>

	</td>
</tr>
</table>

</body>
</html>








