<?php
    $title = "Auction Details";
    $this->headTitle($this->translate($title));

    // auction_id, campaign_id, auction_custom_ref, auction_name,
    // auction_description, display_order, auction_status_id


   $this->headScript()
          ->appendFile("/js/libs/jquery.jcountdown1.4.js")
          ->appendFile("/js/seatplan.js")
          ->appendFile("/js/auction.js?cachebust=" . time());

// need to get these checks done on the database
$seatplanimage = 'images/seatplans/' . $this->auction_id . '.jpg';
if (! file_exists($seatplanimage)) {
    $seatplanimage = '';
}

$seatplanscript = 'js/seatplans/'.$this->auction_id.'.js';
if (! file_exists($seatplanscript)) {
    $seatplanscript = '';
}

$seatplansvg = 'js/seatplans/'.$this->auction_id.'.svg';
if (! file_exists($seatplansvg)) {
    $seatplansvg = '';
}

//Split the auction_name to get artist/date/venue
$auction_name_parts = explode(' // ', $this->auctionInfo['auction_name']);
if (count($auction_name_parts) > 1) {
    $artist = $auction_name_parts[0];
    $datetime = $auction_name_parts[1];
    $venue_name = $auction_name_parts[2];
    $venue_loc = $auction_name_parts[3];

    $event_date = new DateTime($datetime);
    $new_event_date = $event_date->format('F jS, Y');
}
else {
    $artist = $this->auction_name;
    $venue_name = '';
    $venue_loc = '';
    $new_event_date = '';
}

$auction_href = '/auction/confirm-bid/campaign_id/' . $this->campaign_id . '/auction_id/' . $this->auction_id . '/item_id/';
$auction_href = $this->baseUrl($auction_href);

$itemsList = $this->itemsList;

$max_min_bid_by_item = array();
/** @var Cs_Data_AuctionItem $singleLot **/
foreach ($itemsList as $singleLot) {
    $max_min_bid_by_item[$singleLot->getItemId()] = array(
        'current_bid' => $singleLot->getCurrentBid(),
        'maximum_bid' => $singleLot->calculateMaxBid($singleLot->getCurrentBid()),
        'minimum_bid' => $singleLot->getNextMinimumBid(),
        'minimum_increment' => $singleLot->getMinBidIncrement(),
        'maximum_increment' => $singleLot->getMaxBidIncrement(),
    );
}

?>

<div id="auctioncontainer" data-auctionID="<?php echo $this->auction_id ?>" data-seatplanimage="<?php echo $seatplanimage ?>" data-seatplanscript="<?php echo $seatplanscript ?>" data-seatplansvg="<?php echo $seatplansvg ?>" data-seatplanswitch="0" data-time="<?php echo time();?>" data-formaction="<?php echo $auction_href ?>">
    <main role="main">
        <section id="items" class="cf">

            <div class="itm-top cf" >
                <div class="itm-left">
                    <img src="/themes/red/images/<?php echo $this->auctionInfo['campaign_custom_ref'] ?>_wide.jpg" class="itm-pic" alt="<?php echo $artist ?>" />
                </div>
                <div class="itm-right itm-details">
                    <span class="itm-campaign"><?php echo $artist ?></span>
                    <span class="itm-date"><?php echo $new_event_date ?></span>
                    <span class="itm-venue"><?php echo $venue_name ?></span>
                    <span class="itm-loc"><?php echo $venue_loc ?></span>

                    <div class="itm-about">
                        <p><?php echo $this->auctionInfo['auction_description'] ?></p>
                    </div>

                    <div class="itm-share">
                        <div class="fb-like" data-href="http://<?php echo $_SERVER['SERVER_NAME'] ?>/auction/<?php echo $this->auction_id ?>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-hashtags="REDrows" data-related="joinRED‎" data-text="Bid on tickets to see <?php echo $artist ?>. Great Music Saves Lives." data-url="http://<?php echo $_SERVER['SERVER_NAME'] ?>/auction/<?php echo $this->auction_id ?>">Tweet</a>
                    </div>

                </div>
            </div>
            <div class="itm-auction cf">


                <div class="itm-auctions" id="auctionitems">
                    <div id="auctionitemlist">
                        <ul class="itm-list">
                            <li class="itm-row itm-header itm-alt">
                                <div class="itm-name">Auctions</div>
                                <div class="itm-time">Time Left</div>
                                <div class="itm-bids">Bids</div>
                                <div class="itm-current">Current Bid</div>
                                <div class="itm-action">&nbsp;</div>
                            </li>
                            <?php $row_count = 0; ?>
                            <?php foreach ($this->itemsList as $item) : ?>

                                <?php
                                    //data-itemref="section_1_row_7_seats_3_&_4"
                                    $data_itemref = $item->getName();
                                    $data_itemref = strtolower($data_itemref);
                                    $data_itemref = str_replace(',', '', $data_itemref);
                                    $data_itemref = str_replace(' ', '_', $data_itemref);
                                    $data_itemref = str_replace('&', 'and', $data_itemref);

                                    //data-time="1368999901"
                                    $data_time = $item->getEndDateTimestamp();

                                    //bidhistory
                                    $bidhistory = count($item->getBidPublicHistory());
                                    $bid_json = null;
                                    // [{"bidder":"user1","bid":"2670.00","time":"1370352958"},
                                    // {"bidder":"user1","bid":"2667.00","time":"1370352958"},
                                    // {"bidder":"user1","bid":"2667.00","time":"1370352864"}]
                                    if ($bidhistory > 0) {
                                        $bidhistory_array = $item->getBidPublicHistory();
                                        $bh = array();
                                        foreach($bidhistory_array as $bid) {
                                            $bid_time = strtotime($bid['bid_date']);
                                            $bh[] = array(
                                                'bidder' => $bid['username'],
                                                'bid'    => $bid['current_bid'],
                                                'time'   => $bid_time
                                            );

                                        }
                                        $bid_json = json_encode($bh);
                                    }

                                    //currentbid: £1,000.00
                                    $highest_bid = $item->getHighestBid();
                                    $currentbid = $item->getCurrencySymbol() . '0.00';
                                    if ($highest_bid["current_bid"] > 0) {
                                        $currentbid = $item->getCurrencySymbol() . number_format($highest_bid["current_bid"], 2, '.', ',');
                                    }

                                    $currency = $item->getCurrencySymbol();
                                    //http://dev.auction.crowdsurge.com/auction/show-item/campaign_id/7/auction_id/9/item_id/12
                                    $href = $this->baseUrl("/auction/show-item/campaign_id/{$item->getCampaignId()}/auction_id/{$item->getAuctionId()}/item_id/{$item->getItemId()}");
                                    $itemId =  $item->getItemId();

                                    $alt_class = '';
                                    if ($row_count&1) {
                                        $alt_class = 'itm-alt';
                                    }
                                    $row_count++;
                                ?>

                                <li class="itm-row <?php echo $alt_class ?> auction_item" data-itemref="<?php echo $data_itemref ?>" rel="<?php echo $data_itemref ?>" data-itemid="<?php echo$itemId ?>" data-bidhistory='<?php echo $bid_json ?>' data-currency="<?php echo $currency ?>">
                                    <div class="itm-name"><?php echo $item->getName() ?></div>
                                      <div class="itm-time timeleft">
                                        <b><span data-time="<?php echo $data_time ?>" class="cdown"></span></b>
                                    </div>
                                    <div class="itm-bids"><?php echo $bidhistory ?></div>
                                    <div class="itm-current"><?php echo $currentbid ?></div>
                                    <div class="itm-action action"><a href="<?php echo $href ?>" data-itemid="<?php echo$itemId ?>" class="button">BID</a></div>

                                    <span class="auctionitem"><?php echo $item->getName() ?></span>
                                    <span class="customref"><?php echo $item->getCustomRef() ?></span>
                                    <span class="description"><?php echo $item->getDescription() ?></span>

                                    <span class="duration">
                                        <span class="start_date"><?php echo $item->getStartDate() ?></span>
                                        <span class="end_date"><?php echo $item->getEndDate() ?></span>
                                    </span>
                                    <span class="starting_bid">
                                        <?php echo $item->getCurrencySymbol() ?><?php echo $item->getStartingBid() ?>
                                    </span>
                                    <span class="next_min_bid">
                                        <?php echo $item->getCurrencySymbol() ?><?php echo number_format($item->calculateMinBid($highest_bid["current_bid"]), 2, '.', ',') ?>
                                    </span>
                                    <span class="min_bid_increment">
                                        <?php echo $item->getCurrencySymbol() ?><?php echo $item->getMinBidIncrement() ?>
                                    </span>
                                    <span class="max_bid_increment">
                                        <?php echo $item->getCurrencySymbol() ?><?php echo $item->getMaxBidIncrement() ?>
                                    </span>
                                    <span class="bidhistory">
                                        <?php echo $bidhistory ?>
                                    </span>
                                    <span class="currentbid">
                                        <?php echo $currentbid ?>
                                    </span>
                                 </li>

                            <?php endforeach ?>


                        </ul>

                    </div>

                </div>
            </div>

            <div class="itm-bottom cf">
                <div class="itm-left">
                    <h6>Important Information</h6>
                    <p>Many events contain multiple auctions - frequently for different pairs of seats - for which you may choose to place a bid. When placing a bid, please make sure to enter an amount that is equal to or greater than the minimum bid amount required, which may be found next to the bid entry box. You may bid as frequently as you would like, but we suggest bidding the maximum amount you are willing and having the system automatically raise your bid incrementally up to your maximum if you are outbid. Your bid will never be increased beyond the minimum bid amount required to maintain your place as the top bidder. Your credit card will only be charged if you are the highest bidder at the close of the auction.</p>
                    <h6>If You Win</h6>
                    <p>If you are the winning bidder, your tickets and any other outlined items included in the lot will be available for you to collect at the venue on the evening of the event upon presenting valid photo identification and the credit card you used to make your purchase.</p>
                    <h6>Contribution To The Global Fund</h6>
                    <p>All proceeds from this auction will be contributed to The Global Fund, the world's leading financier of programs to fight AIDS, TB and malaria, and the recipient of (RED) funds. The Global Fund invests 100% of (RED) dollars in HIV/AIDS programs in Africa, including interventions targeting women and children. (RED)-supported Global Fund HIV/AIDS grants are selected based on a track record of consistently good performance and opportunity for impact.</p>

                    <p>Complete Entertainment Resources LLC dba CrowdSurge will serve as agent on behalf of The Global Fund. All contributed funds will be remitted to Complete Entertainment Resources LLC and subsequently disbursed to The Global Fund. The processing time for remittance of funds to The Global Fund will be 30-180 days to allow for possible returns or exchanges.</p>

                    <p>Proceeds from this auction consist of the total winning bid amount collected, less the face value (or standard price) of the tickets, applicable facility and service fees, and any local taxes, and credit card fees.</p>

                    <p>Please Note: The Global Fund is a Geneva based organization and as such contributions are not tax deductible. No letters of donation will be provided by (RED) and (RED) makes no assurances, guarantees, or other claims to a bidders ability to claim a charitable deduction as part of this auction. If you are interested in the tax implications of participation, please consult a tax professional.</p>
                </div>


                <div class="itm-right">
                    <div class="itm-before">
                        <h6>Before You Bid</h6>
                        <p>Your bid is a legal contract. All bids placed on (RED) auctions are legally binding. If you are the successful bidder, you will enter into a legal contract to purchase the item and will be considered the buyer of the lot. All lots are non-transferable and can only be used by the winning bidder without exception.</p>
                    </div>

                    <div class="itm-donate">
                        <h6>Want To Do More?</h6>
                        <p>Like (RED) on Facebook and get involved.<br />Donate directly to The Global Fund, the recipient of (RED) funds.</p>
                        <a href="https://secure.globalproblems-globalsolutions.org/site/Donation2?df_id=1862&1862.donation=form1&__utma=1.3307738938720983500.1233685014.1240944250.1247422614.4&__utmb=1.1.10.1247422614&__utmc=1&__utmx=-&__utmz=1.1247422614.4.4.utmcsr=theglobalfund.org|utmccn=%28referral%29|utmcmd=referral" class="button">Donate</a>
                    </div>

                </div>


            </div>


        </section>
    </main>
</div>

<div id="fb-root"></div>
<script type="text/javascript">
jQuery(document).ready(function(){

    // Store the maximum and minimum bid informtion in the page
    // The data here is used by the gotoauction() function in auction.js
    var maxMinBids = <?php echo count($max_min_bid_by_item) ? json_encode($max_min_bid_by_item) : 'null' ?>;
    jQuery(document).data('maxMinBids', maxMinBids);
});
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=466608106741768";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>