<?php
    $this->headTitle($this->translate('Confirm Bid'));

    $auctionItem = $this->auctionItem;
    $campaign_id = $auctionItem->getCampaignId();
    $campaign_name = $auctionItem->getCampaignName();
    $auction_id = $auctionItem->getAuctionId();
    $auction_name = $auctionItem->getAuctionName();
    $auction_item_name = $auctionItem->getName();

    $auction_name_parts = explode(' // ', $auction_name);
    if (count($auction_name_parts) > 1) {
        $artist = $auction_name_parts[0];
        $datetime = $auction_name_parts[1];
        $venue_name = $auction_name_parts[2];
        $venue_loc = $auction_name_parts[3];

        $event_date = new DateTime($datetime);
        $new_event_date = $event_date->format('F jS, Y');
    }
    else {
        $artist = '';
        $venue_name = $auction_name;
        $venue_loc = '';
        $new_event_date = '';
    }
?>

<main role="main">
    <section id="confirm-bid" class="cf">
        <div class="pop-box small-box con-box cf">
            <h3>Confirm Your Bid</h3>
            <div class="con-caption">You are bidding on:</div>
            <div class="con-details">
                <span class="con-campaign"><?php echo $artist ?></span>
                <span class="con-date"><?php echo $new_event_date ?></span>
                <span class="con-venue"><?php echo $venue_name ?></span>
                <span class="con-loc"><?php echo $venue_loc ?></span>
            </div>
            <div class="con-item"><?php echo $auction_item_name ?></div>

            <?php if (! empty($this->message)) : ?>

                <div class="error">
                    <ul>
                        <li><?php echo $this->translate($this->message) ?></li>
                    </ul>
                </div>

            <?php endif ?>

            <?php echo $this->confirmBidForm ?>

        </div>
    </section>
</main>