<?php
/*
 * View for application-error handling
 *
 * Sent to tech-ops (IL,RS,IV)
 *
 *
 */
?>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <p>Hi <?php echo $this->escape($this->data['recipient_name']); ?>,</p>
                    <multiline label="Description">
                    <p>
                        An exception occurred on the <?php echo $this->escape($this->data['server']); ?>
                    </p>


                    <?php if (isset($this->exception)): ?>

                    <h3>Exception information:</h3>
                    <p>
                        <b>Message:</b> An Exception Occurred
                    </p>

                    <h3>Stack trace:</h3>
                    <pre><?php echo $this->data['exception']->getTraceAsString() ?>
                    </pre>
                    <?php endif ?>

                    <h3>Request Parameters:</h3>
                    <pre><?php echo $this->escape(var_export($this->data['request']->getParams(), true)) ?>
                    </pre>

                    <p>

                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>
