<?php
/**
 * View for email for successful highest bid 
 *  
 */
?>
<layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" width="39%" class="contentblock">
                    <img border="0" src="http://www.crowdsurge.com/mailer/red/images/[ARTIST_ID].jpg" width="218" height="212" id="bandimage">
                </td>
                <td bgcolor="#ffffff" width="61%" class="contentblock">
                    <h4 class="secondary">
                        <strong>
                         <singleline label="Title">
                        <?php echo $this->escape($this->data['recipient_name']); ?>, 
                        Payment has been taken
                        </strong>
                    </h4>
                    <multiline label="Description">
                    <p><span style="color:#d02142; font-size:11px;">Auction ID: <?php echo (int) $this->data['auction']['auction_id']; ?></span><br />
                    <strong>
                         <?php echo $this->data['auction']['auction_name']; // contains html so cannot escape in current setup ?>
                    </strong> 
                    in 
                    <strong>[EVENT_LOCATION]</strong> 
                    on 
                    <strong>
                        <?php 
                        $start = $this->data['auction']['start_date']['date'];
                        echo date('F', strtotime($start)) . ' '; 
                        // Ordinal PHP 5.3+
                        //$locale = 'en_UK';
                        //$nf = new NumberFormatter($locale, NumberFormatter::ORDINAL);
                        //echo $nf->format(date('j', strtotime($start))) . ', ';
                        echo date('j Y', strtotime($start)); 
                        ?>
                    </strong>
                    <br />
                    <?php echo $this->escape($this->data['auction']['name']); ?>    
                    at 
                    [EVENT_VENUE]
                    </p>
                    <p><strong>Your maximum bid: <?php echo number_format($this->data['user_bid']['current_bid'], 2); ?></strong></p>
                    </multiline>
                </td>
            </tr>
            </table>
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>

        </td>
    </tr>
    </table>
 </layout>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <h4 class="secondary"><strong><singleline label="Title">The auction has ended.</singleline></strong></h4>
                    <multiline label="Description">
                    <p>
                        Thank you for taking part in this auction. If you have won you will 
                        receive an email giving you details on how to pay for the lot you won.
                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>
 <layout label="Next">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">
                    <multiline label="Description">
                    <p>
                    Visit our auction site to bid on upcoming auctions:
                    <a href="<?php echo $this->escape($this->data['site_url']); ?>" style="color:#d02142">
                        <?php echo $this->escape($this->data['site_url']); ?>
                    </a>
                    </p>
                    </multiline>
                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>  
 </layout>
       
