<?php
/**
 * View for email for successfule highest bid 
 *  
 */

// Url to link back to the auction user has bid on
$auction_url_items = array(
    $this->data['site_url'],
    'auction',
    'show-item',
    'campaign_id',
    $this->data['auction']['campaign_id'],
    'auction_id',
    $this->data['auction']['auction_id'],
    'item_id',
    $this->data['auction']['item_id'], 
);
$auction_url = implode('/', $auction_url_items);
?>
<layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" width="39%" class="contentblock">
                    <img border="0" src="http://www.crowdsurge.com/mailer/red/images/[ARTIST_ID].jpg" width="218" height="212" id="bandimage">
                </td>
                <td bgcolor="#ffffff" width="61%" class="contentblock">
                    <h4 class="secondary">
                        <strong>
                         <singleline label="Title">
                        <?php echo $this->escape($this->data['recipient_name']); ?>, 
                        You have been outbid!
                        </strong>
                    </h4>
                    <multiline label="Description">
                    <p><span style="color:#d02142; font-size:11px;">Auction ID: <?php echo (int) $this->data['auction']['auction_id']; ?></span><br />
                    <strong>
                         <?php echo $this->data['auction']['auction_name']; // contains html so cannot escape in current setup ?>
                    </strong> 
                    in 
                    <strong>[EVENT_LOCATION]</strong> 
                    on 
                    <strong>
                        <?php 
                        $start = $this->data['auction']['start_date']['date'];
                        echo date('F', strtotime($start)) . ' '; 
                        // Ordinal PHP 5.3+
                        //$locale = 'en_UK';
                        //$nf = new NumberFormatter($locale, NumberFormatter::ORDINAL);
                        //echo $nf->format(date('j', strtotime($start))) . ', ';
                        echo date('j Y', strtotime($start)); 
                        ?>
                    </strong>
                    <br />
                    <?php echo $this->escape($this->data['auction']['name']); ?>    
                    at 
                    [EVENT_VENUE]
                    </p>
                    <p>
                        <strong>Your Maximum Bid: <?php echo number_format($this->data['user_bid']['current_bid'], 2); ?></strong>
                        <br>
                        
                        <strong style="color:#d02142;">Current Winning Bid: <?php echo number_format($this->data['highest_bid']['current_bid'], 2); ?></strong>
                    </p>
                    
                    <p>
                        <a style="color:#d02142" href="<?php echo $this->escape($auction_url); ?>">
                            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/bid.jpg" alt="bid" width="87" height="24" id="bid">
                        </a>
                    </p>
                    
                    </multiline>
                </td>
            </tr>
            </table>
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>

        </td>
    </tr>
    </table>
 </layout>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <h4 class="secondary"><strong><singleline label="Title">What's this?</singleline></strong></h4>
                    <multiline label="Description">
                    <p>
                        Someone has outbid you. If you would like to increase your maximum bid you can do
                        do so by clicking bid again. We suggest you bid the maximum amount you are 
                        willing to pay to ensure you finish as the top bidder.
                    </p>

                    <p>
                        Your credit card will only be charged if you are the highest 
                        bidder at the close of the auction.
                    </p>

                    <p>
                        You can monitor the progress of the auction here:
                        <a href="<?php echo $this->escape($auction_url); ?>" style="color:#d02142">
                            <?php echo $this->escape($auction_url); ?>
                        </a>
                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>

