<?php
/*
 * View for registration complete
 *
 * Sent to user after successful registration
 *
 *
 */
?>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <p>Dear <?php echo $this->escape($this->data['recipient_name']); ?>,</p>
                    <multiline label="Description">
                    <p>
                        You are now registered to use the auction site. You will be able to place
                        bids on items. Once you have placed a bid, please check back regularly to
                        follow the status of your bid. Bids are processed in the order they are
                        received, and your bid can be outbid after you have placed a bid. Good luck!
                    </p>

                    <p>
                        We will only take payment if you have the winning bid at the close of
                        the auction.
                    </p>
                    
                    <p>
                        Visit site to place your first bid:
                        <a href="<?php echo $this->escape($this->data['site_url']); ?>" style="color:#d02142">
                            <?php echo $this->escape($this->data['site_url']); ?>
                        </a>
                    </p>
                    
                    <p>
                        From the CrowdSurge team
                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>
