<?php
/*
 * View for Reset password
 *
 * Information to log in to site after user has reset password
 *
 *
 */
?>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <p>Dear <?php echo $this->escape($this->data['recipient_name']); ?>,</p>
                    <multiline label="Description">
                    <p>
                        Your password has been reset. To log in to the Auction site, please
                        use the details below:
                    </p>

                    <p>
                       Username: <?php echo $this->escape($this->data['recipient_username']); ?>
                       <br>
                       Password: <?php echo $this->escape($this->data['recipient_password']); ?>
                    </p>
                    
                    <p>
                        Visit site to place your first bid:
                        <a href="<?php echo $this->escape($this->data['site_url']); ?>" style="color:#d02142">
                            <?php echo $this->escape($this->data['site_url']); ?>
                        </a>
                    </p>
                    
                    <p>
                        From the CrowdSurge team
                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>
