<?php
/*
 * View for transaction failure
 *
 * Sent to user after a payment has been unsuccessful
 *
 *
 */
?>
 <layout label="Auction">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #e4e4e4;">
    <tr>

        <td width="100%" bgcolor="#ffffff">
            <img border="0" src="http://www.crowdsurge.com/mailer/red/images/spacer.png" width="1" height="20" class="seperate"><br>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td bgcolor="#ffffff" class="contentblock">

                    <p>Dear <?php echo $this->escape($this->data['recipient_name']); ?>,</p>
                    <multiline label="Description">
                    <p>
                        This email is to inform you that the transaction of 3.99 that was attempted has failed.
                    </p>

                    <p>
                        Reference:
                    </p>
                    
                    <p>
                        From the CrowdSurge team
                    </p>
                    </multiline>

                </td>
            </tr>
            </table>

        </td>
    </tr>
    </table>
 </layout>



