<?php
    // Insert the title here.
    $title = "Client Registration Page";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <p>
        This page will register a client onto the system and set up a single staff member for them.
        The staff member will then be able to log in and perform 'client' actions.
    </p>
</div>
<div class='admin client-form'>
    <?php echo $this->form ?>
</div>
