<?php
    // Insert the title here.
    $title = "Admin - Show Queues";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <div>
        <ul>
        <?php foreach ($this->queues as $q) : ?>
            <li><?php echo var_export($q->toArray()) ?></li>
        <?php endforeach ?>
        </ul>
    </div>

</div>
