<?php
    // Insert the title here.
    $title = "Site Maintenance";
    $this->headTitle($this->translate($title));
?>
<h1><?php echo $title ?></h1>

<div class="template_content">
    <div style="text-align: center; width:400px; min-height:30px; padding: 20px; background-color: skyblue; margin-left: auto; margin-right: auto; margin-bottom: 100px; margin-top: 100px;">
        This site is in Maintenance Mode. It will be back online shortly...
    </div>
</div>
