<?php
    // @todo Translation
?>
<div>
    <h2>Terms and Conditions</h2>

	<!--////////////////////////////////////////////////// CONTENT STARTS ///////////////////////////////////////////////////////////-->	
		
 <p><b>Ticket Purchasing</b></p>
 
 
<p>Welcome to CrowdSurge. <Br /><Br />We act as the ticket sales agent for Artists. When you purchase a ticket to an Artists show, CrowdSurge will be handling the transaction and collecting payment.</p>
<p><b>Please read these Ticketing Terms of Use carefully because they contain important information regarding your legal rights, remedies, and obligations, which include various limitations and exclusions, along with a dispute resolution clause that governs how disputes will be resolved.</b><br />
<br /><b>1. Acceptance of Terms</b><br />
CrowdSurge provides the following service to you, subject to these Ticketing Terms and Conditions (“T&C’s”). The T&C’S contain the terms and conditions that govern your use of the service. These T&C’S describe your rights and responsibilities and what you can expect from CrowdSurge. If you agree to these T&C’S during the ticket purchasing process, please check the box next to the “I Agree to the Terms of Purchase” if this option is presented to you, otherwise by proceeding to purchase you have agreed to the T&C’s. This will constitute a binding agreement between you and CrowdSurge. If you do not agree to these terms, you will not be able to complete your purchase transaction.<br />
<br />CrowdSurge reserves the right to modify these T&C’S at any time in our sole discretion, which shall be effective upon posting at the CrowdSurge.com website. If any modification is unacceptable to you, your only recourse is to not use our service. Your continued use of our service following any modification will constitute binding acceptance of the changes.<br />
<br /><b>2. Description of the Service</b><br />
CrowdSurge acts as the sales agent (the “Sales Agent”) on behalf of those who provide and/or promote events for which tickets are offered for sale, such as the artists, bands, artists’ representatives and fan clubs, charities, donors of items for charity auctions, venues, and promoters (collectively and individually referred to as an “Event Promoter”). Sales Agent sells tickets on behalf of the Event Promoter and does not determine the ticket prices. As part of its service, Sales Agent will handle the ticket sales transaction and collect payment on behalf of the Event Promoter (collectively referred to as the “Service”). Sales Agent may offer additional services, which may change from time to time, change or eliminate features, change nomenclature, and make other changes at any time, which will be subject to these T&C’S.<br />
<br /><b>3. Use of the Service</b><br />
Use of this Service is void where prohibited. For events in which you must be eighteen (18) years old or older to enter a Promoter Event, you must be at least thirteen (13) years old or older to use this Service. For events in which there is no age restriction to enter a Promoter Event, you must be at least thirteen (13) years old to use this Service. You must comply with all of the terms and conditions of this T&C’S, all applicable laws, rules, and regulations whenever you use this Service.<br />
<br /><b>4. Ticket Purchase</b><br />
For all events occurring in the United States of America, the ticket price will be stated in USD. For all events occurring in Canada, the ticket price will be stated in USD. For all events occurring in the United Kingdom, the ticket price will be stated in GBP. For all events occurring in the Eurozone, the ticket price will be stated in Euros. You agree to pay the ticket price plus any applicable non-refundable surcharges or other fees imposed by Sales Agent and/or the Event Promoter. Sales Agent accepts payment by most major credit cards and debit cards, such as Visa, MasterCard and American Express. All payment information is transferred via an SSL (Secure Socket Layer) connection. This functionality is denoted by a padlock symbol at the bottom of your browser and ensures secure transmission of the encrypted data.<br />
<br />You may be limited to a certain number of tickets when purchasing tickets from Sales Agent. This limit on tickets is set by the Event Promoter, in its sole discretion, and is posted during the purchase process and will be verified during each transaction. If you are a member of an Event Promoter’s fan club, you may be allowed access to certain tickets or ticket packages. Event Promoter, in its sole discretion and without prior notification to you, reserves the right to block your access to or cancel your ticket order if it: 
<br />
<blockquote>
(i) is associated with any ticket broker or scalper, 
<br />(ii) utilizes automated means to process or place ticket orders, 
<br />(iii) exceeds the stated ticket limit, 
<br />(iv) is purchased for purposes other than to attend the event, or 
<br />(v) has violated the terms of the Event Promoter’s membership rules. Event Promoter will direct Sales Agent to refund the total face value of the tickets you purchased to the credit or debit card you used to purchase such cancelled tickets.
</blockquote>

The Event Promoter reserves the right to modify its ticket prices from time to time. Notwithstanding the foregoing, if the amount you pay for a ticket is incorrect regardless of whether because of an error in a price posted by Sales Agent or Event Promoter or otherwise communicated to you, or you are able to order a ticket before its scheduled sale or presale date or you are able to order a ticket that was not supposed to have been released for sale, then Sales Agent and/or Event Promoter will have the right to cancel that ticket (or the order for that ticket) and refund to you the amount that you paid. This will apply regardless of whether because of human error or a transactional malfunction of an Event Promoter website or the Sales Agent’s Service.<br />
<br />Sales Agent and/or Event Promoter reserve the right, in their sole discretion, to refuse to transact with you if fraudulent use of your credit or debit cards is suspected. Sales Agent and/or Event Promoter reserve the right, in their sole discretion, to refuse to transact with you if you reside in any country where fraudulent use of credit or debit cards is considered to be an excessive risk.<br />
<br /><b>5. Purchase Confirmation</b><br />
If you do not receive a confirmation e-mail after submitting payment information, or if you experience an error message or service interruption after submitting payment information, it is your sole responsibility to confirm with customer service whether or not your order has been placed. Sales Agent and Event Promoter will not be responsible for losses (monetary or otherwise) if you believe that an order was or was not placed because you failed to receive confirmation. <br />
<br />All ticketing inquiries must be made through the CrowdSurge Customer Support Centre.<br />
<br /><b>6. Entry to Event</b><br />
You agree to present a valid ticket and if necessary one form of government-issued photo identification to gain entry to an event, subject to the terms of this T&C’S. You agree that each ticket you purchase is a license to attend a specific event and is subject to the additional terms printed on that ticket. You agree that you will not attempt to evade, avoid, or circumvent those additional terms in any manner with regard to any ticket purchased by you. Event Promoter or its agents, affiliates, and authorized representatives reserve the right, without refund of any amount paid, to refuse admission to, or eject, any person whose conduct Event Promoter or its agents, affiliates, or authorized representatives deem disorderly, who uses vulgar or abusive language or who fails to comply with Event Promoter rules. Breach of terms or rules will terminate your license to attend the event without refund. Event Promoter or its agents, affiliates, and authorized representatives reserve the right to refuse admission for any other reason by issuing a refund to you for the ticket’s face value paid. A ticket is not redeemable for cash.<br />
<br />To gain entry to an event, you must consent to a search of you and your belongings and waive any related claims that may arise. If you elect not to give consent to such searches, you may be denied entry to the event without refund or other compensation. Under certain facility rules, you agree that certain items may not be brought into the premises, including without limitation, alcohol, drugs, controlled substances, cameras, recording devices, bags, backpacks, and containers. You agree that an object considered to be a weapon will be confiscated prior to entry.<br />
<br />Event Promoter reserves the right to change event dates, times, venues and subject matter, which are listed on the ticket. You agree to verify the most recent changes.<br />
<br /><b>7. Ticket Refunds and Ticket Exchanges</b><br />
You agree to carefully examine your ticket order prior to completing the purchase transaction. Unless otherwise stated in these T&C’S, all ticket sales are final. The Event Promoter generally prohibits Sales Agent from issuing refunds or exchanges after a ticket has been purchased or for lost, stolen, damaged, destroyed, or invalidated tickets. Without limiting the generality of the foregoing, you agree not to contact Sales Agent to seek a refund or exchange from Sales Agent when Sales Agent is prohibited from providing one by the Event Promoter, and you agree not dispute or otherwise seek a “chargeback” from the credit card company you used to purchase tickets from the Service. Should you do so, you agree that your tickets may be cancelled, and Sales Agent may, in its sole discretion, refuse to honour pending and future ticket purchases made from all credit card accounts on which such chargebacks have been made, and may prohibit all persons in whose name the credit card accounts exist and any person who accesses any associated credit card or who otherwise breaches this provision from using the Service.<br />
<br />If Sales Agent issues you a refund for a ticket, it will issue a refund of the ticket's face value plus the service charge less credit card fees paid. In no event will any other fees or amounts be refunded except where the ticket has not been despatched direct to you from Sales Agent premises or third party despatch provider, whereby the postal/courier charge less credit card fee will also be refunded. If a refund is issued, it will be issued using the same method of payment that was used to purchase the tickets. If a credit card was used to make the refunded purchase, then only that actual credit card will receive the credit for the refund. Sales Agent will not be liable for travel or any other expenses that you or anyone else incurs in connection with a cancelled or postponed event.<br />
<br /><b>8. Cancelled Events and Postponed Events</b><br />
The Event Promoter reserves the right to cancel or postpone an event. Cancelled and/or postponed events will, at the Event Promoter’s sole discretion, be rescheduled within twelve (12) months of the date of the original event, or a refund or ticket exchange will be offered. Sales Agent is not obligated to issue a refund except to the extent that the Event Promoter (1) instructs Sales Agent to issue a refund, and (2) provides Sales Agent with the ticket funds necessary to issue refunds. In order to receive a refund or an exchange that may be offered, you agree to comply with the Event Promoter’s instructions or deadlines.<br />
<br /><b>9. Recording, Transmission and Exhibition</b><br />
You agree not to record or transmit, or aid in recording or transmitting, any description, account, picture, or reproduction of the event. You agree that the event for which you purchase tickets is a public event, that your appearance and actions inside and outside the venue where the event occurs are public in nature, and that you have no expectation of privacy with regard to your actions or conduct at the event. You grant permission to Sales Agent and the Event Promoter to utilize your name, image, likeness, acts, poses, plays, appearance, movements, and statements in any live or recorded audio, video, or photographic display or other transmission, exhibition, publication or reproduction made of, or at, the event (regardless of whether before, during or after play or performance) for any purpose, in any manner, in any medium or context now known or hereafter developed, without further authorization from, or compensation to, you or anyone acting on your behalf.<br />
<br /><b>10. Re-Sale of Tickets and Commercial Purposes</b><br />
You agree that unlawful resale of Event Promoter/Artist tickets is grounds for seizure and cancellation without refund. You agree that a ticket shall not be used for commercial purposes, including, but not limited to advertising, promotions, contests or sweepstakes, unless the Event Promoter/Artist and Sales Agent give prior written authorization.<br />
<br /><b>11. Modifications to Service</b><br />
Sales Agent reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that Sales Agent shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.<br />
<br /><b>12. Sales Agent Intellectual Property Rights</b><br />
You acknowledge and agree that the Sales Agent Service and any necessary software used in connection with the Service ("Software") may contain proprietary and confidential information that is protected by applicable intellectual property and other laws. Sales Agent and/or its affiliates own the intellectual property rights to any and all protectable components of the Software and Service, including but not limited to the name, logo and/or slogans of the Service (trade names, trademarks, service marks), artwork and end-user interface elements contained within the Service, many of the individual features, and the related documentation.<br />
You may not, without limitation, copy, sell, resell, modify, adapt, reproduce, distribute, reverse engineer, decompile, exploit, make derivatives, or dissemble any aspect of the Sales Agent Service without the express written consent of the appropriate party. Subject to your compliance with these T&C’S and provided you are eligible to use the Service, Sales Agent grants you a limited, revocable, non-exclusive, non-transferable license to use the Sales Agent Service for its intended purposes and to download or print a copy of any portion of the Service to which you have properly gained access solely for your personal, non-commercial use, provided you keep all copyright or other proprietary notices intact. Sales Agent reserves all rights not granted hereunder.<br />
<br /><b>13. Representations and Warranties</b><br />
You represent and warrant that all information you provide, including but not limited to all information concerning your name, address, credit card number, and other identifying information of any nature will be true, complete and correct, and that you will update all information as it changes. You agree that you will only use credit cards belonging to you, friends or immediate family members who expressly authorize such use, for the purpose of purchasing tickets. You further agree that you will not attempt to conceal your identity by using multiple Internet Protocol (“IP”) addresses or email addresses to use or to purchase tickets in connection with this Service.<br />
<br /><b>14. Indemnification</b><br />
You agree to indemnify and hold Sales Agent, and its Event Promoter/Artist, subsidiaries, affiliates, officers, directors, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of the Service, your connection to the Service, your breach or violation of the T&C’S, or your violation of any rights of another.<br />
<br /><b>15. Disclaimer of Warranties</b><br />
YOU EXPRESSLY UNDERSTAND AND AGREE THAT: <br />
YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. SALES AGENT AND EVENT PROMOTER EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR AUDIENCE, AND NON-INFRINGEMENT. <br />
SALES AGENT AND EVENT PROMOTER MAKE NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED. <br />
ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. <br />
NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SALES AGENT AND/OR EVENT PROMOTER OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE T&C’S.<br />
<br /><b>16. Limitation of Liability</b><br />
YOU EXPRESSLY UNDERSTAND AND AGREE THAT SALES AGENT AND EVENT PROMOTER SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF SALES AGENT AND EVENT PROMOTER HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), ARISING OUT OF, RELATED TO, OR RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES OBTAINED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE. IN NO EVENT SHALL SALES AGENT’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION, WHETHER IN CONTRACT OR TORT, INCLUDING NEGLIGENCE OR OTHERWISE, EXCEED THE AMOUNT PAID BY YOU TO SALES AGENT FOR THE SERVICES FROM WHICH THE CLAIM AROSE. YOU AGREE THAT SALES AGENT IS NOT RESPONSIBLE FOR THE PRODUCTS, SERVICES, ACTIONS OR FAILURE TO ACT OF ANY EVENT PROMOTER OR OTHER THIRD PARTY IN CONNECTION WITH ANY ACTIVITY AT THE EVENT. YOU AGREE TO ASSUME ALL RISKS INCIDENTAL TO THE EVENT FOR WHICH A TICKET IS ISSUED, WHETHER BEFORE, DURING OR AFTER THE EVENT, AND YOU AGREE TO WAIVE ANY CLAIMS FOR PERSONAL INJURY OR DEATH AGAINST SALES AGENT ON BEHALF OF YOURSELF.<br />
<br /><b>17. Privacy Policy</b><br />
Payment information and certain other information collected from you is subject to Sale Agent’s Privacy Policy, which is incorporated into these T&C’s by this reference. View the Privacy Policy<br />
<br /><b>18. General Information</b><br />
All additional addendums to this T&C’S shall be incorporated in and constitute parts of this T&C’S. This T&C’S and the additional addendums, each amended from time to time, constitute the entire understanding between the parties in relation to the subject matter and supersede all prior discussions, agreements and representations, whether oral or written and whether or not executed by you or Sales Agent. No modification, amendment or other change may be made to this T&C’S or any part thereof by you unless reduced to writing and executed by an authorized representative of Sales Agent. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third-party content or third-party software. You may not assign this T&C’S or any rights or obligations of yours under this T&C’S, in whole or in part, without the express written consent of Sales Agent. Sales Agent may freely assign this T&C’S and may contract with additional users. The T&C’S and the relationship between you and Sales Agent shall be governed by the laws of the United States and the state of New York without regard to its conflict of law provisions. You and Sales Agent agree to submit to the personal and exclusive jurisdiction of the courts located within the United States, and you explicitly consent to, and waive all defences of lack of personal jurisdiction and forum non conveniens with respect to, venue and jurisdiction in the courts of the United States. The failure of Sales Agent to exercise or enforce any right or provision of the T&C’S shall not constitute a waiver of such right or provision. If any provision of the T&C’S is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavour to give effect to the parties' intentions as reflected in the provision, and the other provisions of the T&C’S remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Service or the T&C’S must be filed within two (2) years after such claim or cause of action arose or be forever barred. The section titles in the T&C’S are for convenience only and have no legal or contractual effect.<br />
<br /><b>19. Purchases</b><br />
When you make a purchase through the Site, we may collect your credit card number or other payment account number, billing address and other information related to such purchase (collectively, "Payment Information") from you, and may use such Payment Information in order to fulfill your purchase. We may also provide such Payment Information, or other PII provided by you, to third parties as necessary to complete your purchase (for example, to process your credit card or payment account number). Save in circumstances where payment is (or may be) taken at a later date such as auctions or ticket draws, we do not store your financial details such as debit or credit card details following the collection and transmission of such details to the payment gateway.<br />
<br /><b>20. Auctions</b><br />

Occasionally Sales Agent may offer tickets and other items (“auction items”) for purchase by way of an online auction. The following provisions together with the above more general terms and conditions set out the rules by which the auction is run. If there is any inconsistency between the following auction specific provisions and the more general terms and conditions, then the following auction specific provisions shall prevail. These terms and conditions must be read in conjunction with the specific terms and conditions that apply to each auction. Please note that by submitting your bid, you are taken to have read, understood and accepted all the terms and conditions, including the specific terms and conditions applying to each lot. Please ensure that you read the description of the auction item for which you are bidding as it may include specific additional terms in respect of that item.<br />
 

<p>All bids are binding, and once made cannot be retracted. Sales Agent may in its sole discretion, permit the retraction of a bid made due to an obvious and manifest error, although it has no obligation to do so. The highest bidder at the closing time is the winning bidder. Sales Agent’s decision is final.</p>

<p>Sales Agent provide the online auctions on behalf of the Event Promoters and charities, and as such CrowdSurge remain as a sales agent. If the online auction is provided for charitable purposes then details of the charity and the flow of monies to the charity will be made available on the auction website or if not will be available from Sales Agent at your request. All items that are offered for the charity auctions may have been donated by the Event Promoter or other third parties.</p>

<p>Only individuals who can lawfully enter into and form contracts in accordance with United States law may bid for and buy items in the auctions. Your participation in an auction is at your sole option and risk.</p>

<p>Each time you place a bid on the website (which includes by clicking on the ‘Submit Bid’ button) you enter a contractually binding and irrevocable obligation to complete the transaction, if you are the winning bidder. You are not able to retract any bid under any circumstances after it has been submitted and you acknowledge that the bid may be accepted as the winning bid at any time. All bids will remain open and liable to acceptance by Sales Agent until payment for the relevant auction items has been received. Sales Agent reserves the right to refuse or remove bids in its absolute discretion.</p>

<p>New bids will not be accepted unless they meet the minimum bid increase threshold for the relevant auction.</p>

<p>An auction may include a reserve price (which reserve price may be included, increased or decreased at any time) and if the winning bid is not equal to or greater than such reserve price then Sales Agent may (in its sole discretion) deem the auction as void and shall have no liability or obligation to complete the transaction and no bidder shall have any right or entitlement to the auction item. </p>

<p>Sometimes, for your convenience, an automatic bidding system will be operated for the online auctions so you don’t have to keep coming back to re-bid every time someone places another bid. The automatic bidding system will operate by you entering the maximum amount you are willing to pay for the auction item. By entering a maximum amount you are irrevocably committing to pay up to that amount if you are the winning bidder and once entered a maximum amount cannot be reduced. Sales Agent will place bids on your behalf using the automatic bid increment amount, which is based on the current high bid. Sales Agent will only bid as much as necessary to make sure you remain the higher bidder, or to meet the reserve price, up to your maximum amount. In reserve price auctions, if your maximum bid is at least the reserve price, your bid will automatically increase to meet the reserve, and bidding will continue from there. </p>

<p>To be the winning bid in an auction, the bid must be chosen by Sales Agent as the winning bid. This bid will be the highest valid bid at the end of the auction, provided that the bid meets the reserve and that the winning bidder meets any other specific terms and conditions of that auction. Sales Agent’s winning bid or otherwise is final and not subject to challenge, nor will any explanation or reason be given.</p>

<p>If your bid is followed by a higher bid, which is later removed by Sales Agent for any reason, it will be open to Sales Agent to accept your bid, as though the higher bid or bids had never been made. If there are two or more bidders with equal claims to be the winning bidder, the person who made the highest bid first will be the winning bidder.</p>

<p>If your bid is the winning bid Sales Agent will contact you as stated in the auction specific terms and conditions to arrange payment and delivery. If you have already entered your credit card or other payment details Sales Agent shall automatically be entitled to take payment for the winning bid.</p>

<p>If there is a problem with payment by you of the amount of the winning bid, or if payment has not been received by Sales Agent within 3 days of its request for payment (or such other period specified in the auction specific terms and conditions), Sales Agent reserves the right to offer the auction items to the next highest bidder. When payment has been received by Sales Agent, the relevant auction will close and all unsuccessful bids will lapse.</p>

<p>Sales Agent reserves the right to close an auction early or to extend it at any time and at its sole discretion. An auction may be cancelled or delayed for any reason, including, but not limited to, technical, practical or operational difficulties experienced by Sales Agent or the Event Promoter or issues involving a donor of the auction items (such as any decision by a donor to remove its items from an auction).</p>

<p>If an Auction is cancelled for any reason and subsequently re-activated, all previous bids will lapse and bidding will recommence.</p>

<p>If there is a dispute between you and another bidder, the Sales Event, Event Promoter and any auction item donor is under no obligation to become involved in such dispute, although Sales Agent reserves the right to take over the conduct of any claim or proceedings as its own should it choose to do so. You hereby release Sales Agent, the Event Promoter and all donors of the auction items and any of their subsidiaries, officers, employees and agents from any claims, losses, demands or damages or other liabilities of any kind, arising out of or in connection with any such disputes and/or the auction website and its contents.</p>

<p>Sales Agent shall have no liability for bids received after the finishing time for each auction regardless of the time at which these were made. Sales Agent accepts no responsibility for any circumstances of any nature for any delay, damage or loss resulting from delayed, misdirected, lost or incomplete entries arising from computer or internet malfunctions, slow internet connections, viruses, bugs or other such causes. Proof of sending will not be accepted as proof of receipt.</p>

<p>It is the responsibility of the bidder to ensure that they have the necessary permissions, qualifications or authorisations to carry out the activity specified in the auction lot including (but not limited to) appropriate identification, minimum age qualification, security clearance, appropriate visas and so on. If you are the winning bidder, but in the sole discretion of Sales Agent you do not have the necessary qualifications, Sales Agent shall be entitled, without challenge or complaint, to award the lot to the next highest bidder who does meet the qualification.</p>

<p>Sales Agent reserves the right to cancel or amend without notice the terms of this auction and any auction lots issued in the event of catastrophe, war, earthquake or any actual or anticipate or alleged breach of any applicable law or regulation or any circumstance beyond the Sales Agent’s or the Event Promoter’s control.</p>

<p>Auction items bought at Sales Agent auctions are non-refundable and non-exchangeable, save as set out in clause 7 above. In respect of charity auctions, Sales Agent offers the auction in good faith, however, it makes no warranty or guarantee in relation to the condition or suitability of the auction items or the fitness of the auction items for their stated purpose.</p>

<p>You acknowledge that all the information provided as a description of each of the auction items is reproduced by Sales Agent in good faith and is consistent with information supplied to Sales Agent. As such, Sales Agent will not be held responsible for inaccurate or misleading product descriptions and will have no liability to you for any loss (whether direct, consequential or indirect) or inconvenience arising from such inaccuracy.</p>

<p>Sales Agent or Event Promoter shall have the right to substitute auction items of a similar description and standard if for any reason the relevant auction items are not available.</p>

<p>No letters of donation will be provided by Sales Agent and Sales Agent makes no assurances, guarantees, or other claims to a bidder’s ability to claim a charitable deduction as part of this auction. If you are interested in the tax implications of participation, please consult a tax professional.</p>

<p>Winning bidders may be required to participate in publicity arising from the auction. By bidding on any auction, you agree that, should you be a winning bidder, your name and likeness can be used for publicity purposes and you confirm that you will obtain from any accompanying guest, permission for Sales Agent to use their name and likeness for promotional purposes without additional compensation.</p>

<p>Subject to any restrictions imposed by data protection legislation, the names of the winning bidders may be obtained by sending a stamped addressed envelope to Sales Agent identifying the specific auction in question. You authorise Sales Agent to disclose your name in accordance with the foregoing if you are a winning bidder. </p>

<p> <b>21. Ticket Draws </b><br />
Occasionally, Sales Agent may offer tickets and other items (“ticket draw items”) for purchase by way of draw or ballot where you will be asked to apply for the possibility of purchasing the tickets or other items in question using the prescribed application form and method before a certain date, and successful applicants will be chosen by Sales Agent (“ticket draws”). The following provisions together with the above general terms and conditions set out the rules by which the ticket draw is operated. If there is any inconsistency between the following ticket draw specific provisions and the more general terms and conditions, then the following ticket draw specific provisions shall prevail. These terms and conditions must be read in conjunction with the specific items and conditions for each ticket draw. By submitting your application for a ticket draw, you are taken to have read, understood and accepted all the terms and conditions, including the specific terms and conditions applying to each ticket draw. Please read the specific terms and conditions for the relevant ticket draw before submitting your application. Your participation in a ticket draw is at your sole option and risk. By making the application under a ticket draw you enter a contractually binding and irrevocable obligation to complete the transaction if your application is accepted by Sales Agent as successful. You are not able to retract your application under any circumstances after it has been submitted and you acknowledge that your application may be accepted as successful at any time.</p>

<p>By entering your credit card or other payment details as part of the application you are irrevocably authorizing Sales Agent and its merchant service providers to contact your bank or other relevant entity to check the validity of the details and pre-authorise the payment from your account. If Sales Agent cannot satisfy itself that you have the necessary funds and authority to transfer the same to Sales Agent immediately upon your application being accepted as successful then Sales Agent may (in its sole discretion) refuse your application, revoke any acceptance of your application being successful and/or elect not to complete the transaction with you. Please be aware that although funds will not be debited form your account until and unless your application has been successful, from the moment your application has been received until the end of the ticket draw application period the funds in your account necessary to complete the transaction should you be successful may be treated as a pending payment and you will not be able to utilize those funds for other payments from your account. </p>

<p>The successful applications for any ticket draw are chosen by Sales Agent by way of an automated selection process. Sales Agent’s decision as to the successful applications or otherwise is final and not subject to challenge, nor will any explanation or reason be given.</p>

<p>If your application is not initially successful, but one or more initially successful applications are revoked or the transaction does not complete for any reason, it will be open to Sales Agent to accept your application.</p>

<p>If your application is successful, and unless otherwise stated in the ticket draw specific terms and conditions, Sales Agent will notify you by email within 28 days of the closing date of the ticket draw. </p>

<p>You irrevocably authorise Sales Agent to take payment from you immediately if your application is chosen by Sales Agent as being successful.</p>

<p>Sales Agent reserves the right to refuse or remove any application in its absolute discretion, including without limitation to filter out incomplete applications or applications using stolen credit cards or by persons who are believed to be ticket touts or resellers.</p>

<p>Sales Agent reserves the right to close a ticket draw early or to extend it at any time and at its sole discretion. A ticket draw may be cancelled or delayed for any reason, including, but not limited to, technical, practical or operational difficulties experienced by Sales Agent or the Event Promoter or the event itself. All ticket sales are subject to availability.</p>

<p>Sales Agent shall have no liability for applications received after the time specified in the ticket draw specific terms and conditions as the time and date by which applications must be received regardless of the time at which these were sent or made. Sales Agent accepts no responsibility for any circumstances of any nature for damage or loss resulting from misdirected, lost or incomplete entries applications arising from computer malfunctions, viruses, bugs or other such causes. Proof of sending will not be accepted as proof of receipt.</p>

<p>Sales Agent reserves the right to cancel or amend without notice the terms of any ticket draw and any ticket draw items in the event of major catastrophe, war, earthquake or any actual or anticipate or alleged breach of any applicable law or regulation or any circumstance beyond the Sales Agent’s or the Event Promoter’s control.</p>

<p>Ticket draw items purchased by way of a ticket draw are non-refundable and non-exchangeable, save as set out in clause 7 above. </p>

<p>The nominated payment card, or the registered bank account, used to purchase tickets must be registered in the name and address of the applicant and Sales Agent reserves the absolute right to refuse any ticket applications or ticket orders which fail to comply with this condition. </p>

<p>You are solely responsible for ensuring that you have sufficient cleared funds on your nominated payment card, or in your registered bank account, at the time payment is taken by Sales Agent.  

<b><br /><br />
CrowdSurge.  <br />Complete Entertainment Resources LLC <br />28 West 27th Street <br />Suite 901 <br />New York <br />NY 10001, USA</b></p>
 



		<!--////////////////////////////////////////////////// CONTENT FIN ///////////////////////////////////////////////////////////////-->	

  
</div>