<?php
    $title = "Bid Accepted";
    $this->headTitle($title);

    //
    $this->headScript()->appendFile('/js/user_messages.js');

    $auctionItem = $this->auctionItem;
    $campaign_id = $auctionItem->getCampaignId();
    $campaign_name = $auctionItem->getCampaignName();
    $auction_id = $auctionItem->getAuctionId();
    $auction_name = $auctionItem->getAuctionName();
    $auction_item_name = $auctionItem->getName();
    $auction_item_id = $auctionItem->getItemId();
    $currency_symbol = $auctionItem->getCurrencySymbol();
    $last_bid = $this->lastBid;

    $auction_name_parts = explode(' // ', $auction_name);
    if (count($auction_name_parts) > 1) {
        $artist = $auction_name_parts[0];
        $datetime = $auction_name_parts[1];
        $venue_name = $auction_name_parts[2];
        $venue_loc = $auction_name_parts[3];

        $event_date = new DateTime($datetime);
        $new_event_date = $event_date->format('F jS, Y');
    }
    else {
        $artist = '';
        $venue_name = $auction_name;
        $venue_loc = '';
        $new_event_date = '';
    }
?>



<main role="main">
	<section id="bid-accepted" class="cf">
		<div class="pop-box small-box con-box cf">
			<h3 id="bid_title">Your Bid Has Been Accepted.<br/>Good Luck!</h3>
			<div class="con-details">
				<span class="con-campaign"><?php echo $artist ?></span>
				<span class="con-date"><?php echo $new_event_date ?></span>
				<span class="con-venue"><?php echo $venue_name ?></span>
				<span class="con-loc"><?php echo $venue_loc ?></span>
			</div>
			<div class="con-item"><?php echo $auction_item_name ?></div>
			
			<div class="bid-box" id="bid_values"></div>
			
			<div class="bid-next" id="bid_text">
				<h6>What Happens Next?</h6>
				<p>An email has been sent confirming that your bid has been accepted, but you could still be outbid!</p>
				<p>If you are outbid you will be notified by email. If you are the highest bidder when the auction ends, Congratulations. You will receive an email confirmation of your winning bid and details of payment.</p>					
				<div class="cf bid-return">
					<a class="button white" id="cancel" href="/auction/detail/campaign_id/<?php echo $campaign_id ?>/auction_id/<?php echo $auction_id ?>">Return To Auction</a>
				</div>
			</div>
		</div>
	</section>				
</main>

<div id="user_messages" style="margin-left: auto;">

</div>