
  <?php $this->headScript()
          ->appendFile("/js/libs/jquery.jcountdown1.4.js")
          ->appendFile("/js/seatplan.js")
          ->appendFile("/js/auction.js");
  ?>


<?php $auction = reset($this->auctions) ?>

 
<?php
$auctionID = 'xxxxxxx';
// I'm checking if files exist with PHP in order to set the attributes. Let me know if there is a more efficient approach. 
$seatplanimage = 'images/seatplans/'.$auctionID.'.jpg'; if (file_exists($seatplanimage)) {} else {$seatplanimage = '';}
$seatplanscript = 'js/seatplans/'.$auctionID.'.js'; if (file_exists($seatplanscript)) {} else {$seatplanscript = '';}
$seatplansvg = 'js/seatplans/'.$auctionID.'.js'; if (file_exists($seatplansvg)) {} else {$seatplansvg = '';} 
?>
 
<?php $content = $this->getCustomContent('event_' . $auction['campaign_id'], 'dynamic', array(
        'auction' => $auction
    ));
 

    if ($content) : ?>
       <?php echo $content ?>

<?php elseif (count($this->auctions)) : ?>

    <h3>Artist Name:  </h3>
    <p>Artist Desc: <?php echo $auction['campaign_description'] ?></p>
    <p>Artist ID: <?php echo $auction['campaign_id'] ?></p>

    <?php foreach ($this->auctions as $auction) : ?>

    <div>

            <div><strong><?php echo $this->escape($auction['auction_name']) ?></strong></div>
            <div><?php echo $this->escape($auction['auction_description']) ?></div>
            <?php echo $auction['item_count'] ?> item(s) on auction
            <?php if ($auction['item_count']) : ?>
            <ul>
            <?php foreach($auction['items_list'] as $item) : ?>
                <li>
                    <strong><?php echo $this->escape($item['auction_item_name']) ?> : </strong><?php echo $this->escape($item['auction_item_description']) ?>
                    <span><div><a href="/auction/show-item/campaign_id/<?php echo $this->campaign_id ?>/auction_id/<?php echo $item['auction_id'] ?>/item_id/<?php echo $item['auction_item_id'] ?>">View</a></div></span>
                </li>
            <?php endforeach ?>
            </ul>
            <?php endif ?>

        </div>
    <?php endforeach ?> 


    <?php else : ?>
        <strong>There are no Auctions running for this campaign</strong>
    <?php endif ?>
