<?php

$auctionName = $this->auctionDetails['auction_name'];

// WE use headTitle() to build the title of the page.
// TODO Used like this each section is automatically separated (because of the fluent interface)
$this->headTitle($auctionName)->headTitle($this->itemDetails->getName());

$form = $this->newBidForm;

//Split the auction_name to get artist/date/venue
$auction_name_parts = explode(' // ', $this->auctionDetails['auction_name']);
if (count($auction_name_parts) > 1) {
    $artist = $auction_name_parts[0];
    $datetime = $auction_name_parts[1];
    $venue_name = $auction_name_parts[2];
    $venue_loc = $auction_name_parts[3];

    $event_date = new DateTime($datetime);
    $new_event_date = $event_date->format('F jS, Y');
}
else {
    // @todo is there something here to fix?
    $artist = $this->auctionDetails['auction_name'];
    $venue_name = '';
    $venue_loc = '';
    $new_event_date = '';
}
?>

<main role="main">
    <section id="items" class="cf">

        <div class="itm-top cf">
            <div class="itm-left">
                <img src="/themes/red/images/<?php echo $this->auctionDetails['campaign_custom_ref'] ?>_wide.jpg" class="itm-pic" alt="<?php echo $artist ?>" />
            </div>
            <div class="itm-right itm-details">
                <span class="itm-campaign"><?php echo $artist ?></span>
                <span class="itm-date"><?php echo $new_event_date ?></span>
                <span class="itm-venue"><?php echo $venue_name ?></span>
                <span class="itm-loc"><?php echo $venue_loc ?></span>

                <div class="itm-about">
                    <p><?php echo $this->auctionDetails['auction_description'] ?></p>
                </div>

                <div class="itm-share">
                    <div class="fb-like" data-href="http://<?php echo $_SERVER['SERVER_NAME'] ?>/auction/<?php echo $this->auction_id ?>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-hashtags="REDrows" data-related="joinRED‎" data-text="Bid on tickets to see <?php echo $artist ?>. Great Music Saves Lives." data-url="http://<?php echo $_SERVER['SERVER_NAME'] ?>/auction/<?php echo $this->auction_id ?>">Tweet</a>
                </div>

            </div>
        </div>
        <div class="itm-auction cf">

             <div id="seatmap">
                 <img src="/images/seatplans/20.jpg">
              </div>
            <div class="itm-auctions">
                <form action="/auction/confirm-bid/campaign_id/<?php echo $this->auctionDetails['campaign_id'] ?>/auction_id/<?php echo $this->auctionDetails['auction_id'] ?>/item_id/<?php echo $this->itemDetails->getItemId() ?>" method="post">
                    <fieldset>
                    <div class="ind-row ind-item ind-alt">
                        <div class="ind-name"><?php echo $this->escape($this->itemDetails->getName()) ?></div>
                        <div class="ind-right"><a href="/auction/detail/campaign_id/<?php echo $this->auctionDetails['campaign_id'] ?>/auction_id/<?php echo $this->auctionDetails['auction_id'] ?>">View All</a></div>
                    </div>

                    <?php $current_highest = 0 ?>
                    <?php if ($this->bidHighest) : ?>
                        <?php $current_highest = $this->bidHighest['current_bid'] ?>
                        <div class="ind-row">
                            <div class="ind-left">Current Bid<br/><span>Placed By <?php echo $this->bidHighest['username'] ?></span></div>
                            <div class="ind-center ind-price"><?php echo $this->currencySymbol ?><?php echo $this->bidHighest['current_bid'] ?></div>
                            <div class="ind-right">&nbsp;</div>
                        </div>
                    <?php endif ?>

                    <div class="ind-row ind-alt">
                        <div class="ind-left">End Date</div>
                        <div class="ind-center"><?php echo $this->itemDetails->getEndDate('l jS F Y g:ia') ?></div>
                        <div class="ind-right">&nbsp;</div>
                    </div>
                    <div class="ind-row">
                        <div class="ind-left">Your Maximum Bid<br/><span>Enter <?php echo $this->currencySymbol.$this->itemDetails->calculateMinBid($current_highest) ?> or more</span></div>
                        <div class="ind-center ind-price"><?php echo $this->currencySymbol ?><input type="text" name="bid_amount" /></div>

                        <div class="ind-right"><button type="submit" class="button white">Bid Now</button></div>
                    </div>

                    <?php if ($this->bidHistory) : ?>

                        <div class="ind-row ind-alt">
                            <div class="ind-left">Bid History (<?php echo count($this->bidHistory) ?>)</div>
                            <div class="ind-center"></div>
                            <div class="ind-right">&nbsp;</div>
                        </div>

                        <div class="ind-row">
                            <table width="80%" id="historybidders" cellspacing="10" style="margin:20px;">
                                <tr>
                                    <th align="left">BIDDER</th>
                                    <th align="left">BID AMOUNT</th>
                                    <th align="left">BID TIME</th>
                                </tr>
                                <?php foreach ($this->bidHistory as $bid) : ?>
                                <tr>
                                    <td><?php echo $bid['username'] ?></td>
                                    <td><span class="currency"><?php echo $this->currencySymbol ?></span> <?php echo $bid['current_bid'] ?></td>
                                    <td nowrap=""><?php echo $bid['bid_date'] ?></td>
                                </tr>
                                <?php endforeach ?>
                            </table>
                        </div>


                    <?php endif ?>

                    </fieldset>
                    <input type="hidden" name="maximum_bid" value="<?php echo $form->getValue('maximum_bid') ?>" />
                    <input type="hidden" name="minimum_bid" value="<?php echo $form->getValue('minimum_bid') ?>" />
                </form>
            </div>
        </div>

        <div class="itm-bottom cf">
            <div class="itm-left">
                <h6>Important Information</h6>
                <p>Many events contain multiple auctions - frequently for different pairs of seats - for which you may choose to place a bid. When placing a bid, please make sure to enter an amount that is equal to or greater than the minimum bid amount required, which may be found next to the bid entry box. You may bid as frequently as you would like, but we suggest bidding the maximum amount you are willing and having the system automatically raise your bid incrementally up to your maximum if you are outbid. Your bid will never be increased beyond the minimum bid amount required to maintain your place as the top bidder. Your credit card will only be charged if you are the highest bidder at the close of the auction.</p>
                <h6>If You Win</h6>
                <p>If you are the winning bidder, your tickets and any other outlined items included in the lot will be available for you to collect at the venue on the evening of the event upon presenting valid photo identification and the credit card you used to make your purchase.</p>
                <h6>Contribution To The Global Fund</h6>
                <p>All proceeds from this auction will be contributed to The Global Fund, the world's leading financier of programs to fight AIDS, TB and malaria, and the recipient of (RED) funds. The Global Fund invests 100% of (RED) dollars in HIV/AIDS programs in Africa, including interventions targeting women and children. (RED)-supported Global Fund HIV/AIDS grants are selected based on a track record of consistently good performance and opportunity for impact.</p>

                <p>Complete Entertainment Resources LLC dba CrowdSurge will serve as agent on behalf of The Global Fund. All contributed funds will be remitted to Complete Entertainment Resources LLC and subsequently disbursed to The Global Fund. The processing time for remittance of funds to The Global Fund will be 30-180 days to allow for possible returns or exchanges.</p>

                <p>Proceeds from this auction consist of the total winning bid amount collected, less the face value (or standard price) of the tickets, applicable facility and service fees, and any local taxes, and credit card fees.</p>

                <p>Please Note: The Global Fund is a Geneva based organization and as such contributions are not tax deductible. No letters of donation will be provided by (RED) and (RED) makes no assurances, guarantees, or other claims to a bidders ability to claim a charitable deduction as part of this auction. If you are interested in the tax implications of participation, please consult a tax professional.</p>
            </div>


            <div class="itm-right">
                <div class="itm-before">
                    <h6>Before You Bid</h6>
                    <p>Your bid is a legal contract. All bids placed on (RED) auctions are legally binding. If you are the successful bidder, you will enter into a legal contract to purchase the item and will be considered the buyer of the lot. All lots are non-transferable and can only be used by the winning bidder without exception.</p>
                </div>

                <div class="itm-donate">
                    <h6>Want To Do More?</h6>
                    <p>Like (RED) on Facebook and get involved.<br />Donate directly to The Global Fund, the recipient of (RED) funds.</p>
                    <a href="https://secure.globalproblems-globalsolutions.org/site/Donation2?df_id=1862&1862.donation=form1&__utma=1.3307738938720983500.1233685014.1240944250.1247422614.4&__utmb=1.1.10.1247422614&__utmc=1&__utmx=-&__utmz=1.1247422614.4.4.utmcsr=theglobalfund.org|utmccn=%28referral%29|utmcmd=referral" class="button">Donate</a>
                </div>

            </div>


        </div>


    </section>
</main>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=466608106741768";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
