<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<?php echo $this->headTitle('SurveyVista | Trial') ?>
<?php echo $this->headLink()->appendStylesheet('/css/base.css') ?>
<?php echo $this->headScript()->prependFile('/js/jquery-1.4.2.min.js') ?>
<?php echo $this->headScript() ?>

</head>
<body>
<div id="maincontainer">

<div id="topsection">
    <div class="innertube">
        <?php if (Zend_Auth::getInstance()->hasIdentity()) : ?>
        <span>
            <a href="/login/logout">Logout</a>
        </span>
        <?php endif; ?>
        <?php echo $this->render('trial/header.phtml') ?>
    </div>
</div>

<div id="contentwrapper">
<div id="contentcolumn">
<div class="innertube"><?php echo $this->layout()->content ?></div>
</div>
</div>

<div id="leftcolumn">
<div class="innertube"><?php echo $this->render('default/content_left.phtml') ?></div>

</div>

<div id="rightcolumn">
<div class="innertube"><?php echo $this->render('default/content_right.phtml') ?></div>
</div>

<div id="footer">
    <div><?php echo $this->render('default/footer.phtml') ?></div>
    <p><a href="http://surveyvista.com/">SurveyVista</a></p></div>

</div>
</body>
</html>
