<?php if ($this->sMessage) : ?>
<p><strong><?php echo $this->sMessage ?></strong>
</p>
<?php endif ?>

<h4>Introduction</h4>
<p>
    <?php echo $this->sDescription ?>
</p>
<p>
<form id="start_trial" action="/trial/start/p/<?php echo $this->iProjectId ?>" method="post">
    <input type="hidden" name="p" value="<?php echo $this->iProjectId ?>" />
    <input type="submit" name="submit" value="Start" />
</form>
</p>