<div>
    <p>
        <?php echo $this->sDescription ?>
    </p>
    <p>
        <?php echo $this->render('player/player.phtml'); ?>
        <br />
    <form id="" action="/trial/litmus/p/<?php echo $this->iProjectId ?>">
        <?php for ($i = 0; $i < 10; $i++) : ?>
        <span>
            <div style="display: inline; font-size: small;"><?php echo $i ?></div>
        <input type="radio" name="rating" value="<?php echo $i ?>" />
        </span>
        <?php endfor; ?>
        <input type="submit" name="submit" value="Next" />
    </form>
    </p>
</div>