<div>
    <h4>Start of trial</h4>
    <p>
        <?php echo $this->sDescription ?>
    </p>
    <!-- This would be passed in as a param -->
    <a href="/trial/litmus/p/<?php echo $this->iProjectId ?>">Start</a>
</div>