<!-- CONTENT start of campaign template -->

<main role="main">
    <section id="event" class="cf">

        <?php if (count($this->auctions)) : ?>

            <?php $auction = reset($this->auctions) ?>
            <?php $this->headTitle($auction['campaign_name']) ?>

            <div class="lnd-box">
                <img src="/themes/red/images/<?php echo $auction['campaign_custom_ref'] ?>_sq.jpg" alt="<?php echo $auction['campaign_name'] ?>" />
                <div class="lnd-details">
                    <h2><?php echo $auction['campaign_name'] ?></h2>
                    <p><?php echo $auction['campaign_description'] ?></p>
                    <div><?php echo count($this->auctions) ?> Events</div>
                </div>
            </div>

            <div class="evt-container">
                <div class="evt-table">
                    <div class="evt-header">
                        <div class="evt-date">Date</div>
                        <div class="evt-venue">Venue</div>
                        <div class="evt-auction">Auctions</div>
                        <div class="evt-action">&nbsp;</div>
                    </div>

                    <?php $row_count = 0; ?>
                    <?php foreach ($this->auctions as $auction) : ?>

                        <?php
                        $alt_class = '';
                        if ($row_count&1) {
                            $alt_class = 'evt-alt';
                        }
                        $row_count++;

                        $auction_name = $this->escape($auction['auction_name']);
                        $auction_description = $this->escape($auction['auction_description']);

                        //Split the auction_name to get artist/date/venue
                        $auction_name_parts = explode(' // ', $auction_name);
                        if (count($auction_name_parts) > 1) {
                            $artist = $auction_name_parts[0];
                            $datetime = $auction_name_parts[1];
                            $venue_name = $auction_name_parts[2];
                            $venue_loc = $auction_name_parts[3];

                            $event_date = new DateTime($datetime);
                            $event_month = $event_date->format('M');
                            $event_day = $event_date->format('d');
                            $event_year = $event_date->format('Y');
                        }
                        else {
                            $artist = '';
                            $venue_name = $auction_name;
                            $venue_loc = '';
                            $event_month = '';
                            $event_day = '';
                            $event_year = '';
                        }
                        ?>

                        <div class="evt-row <?php echo $alt_class ?>" id="evt_<?php echo $auction['auction_id'] ?>">
                            <div class="evt-date">
                                <span class="month"><?php echo $event_month ?></span>
                                <span class="day"><?php echo $event_day ?></span>
                                <span class="year"><?php echo $event_year ?></span>
                            </div>
                            <div class="evt-venue">
                                <span class="ven-name"><?php echo $venue_name; ?></span>
                                <span class="ven-loc"><?php echo $venue_loc; ?></span>
                            </div>
                            <div class="evt-auction"><?php echo $auction['item_count'] ?></div>
                            <div class="evt-action">
                                <a href="<?php echo $this->baseUrl("/auction/detail/campaign_id/{$auction['campaign_id']}/auction_id/{$auction['auction_id']}") ?>" class="button">View Auctions</a>
                            </div>
                        </div>

                    <?php endforeach ?>

                </div>
            </div>

        <?php else : ?>

            <strong>There are no Auctions running for this campaign</strong>

        <?php endif ?>

    </section>
</main>

<!-- CONTENT end of campaign template -->