<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crowdsurge iQueue || <?php echo htmlentities($title, ENT_QUOTES, 'utf-8'); ?></title>
    <style type="text/css">
        body { font-family: Verdana, Trebuchet, Sans-serif; }
        .stores_list { width: 90%; margin-left:5%; }
        .store { width: 100%; min-height:30px; line-height:30px; }
        .list_content { float: left; width:59%; }
        .actions { float:right; width: 30%; }
        .header { height:30px; padding-top:5px; margin-bottom: 30px;}
        .nav { width: 100%; }
        .logout { float:right; }
        form { width: 60%; margin-left:10%; }
        form div { width: 100%; height:30px; margin-bottom:20px;}
        form div.textarea { height:80px;}
        form label {width: 35%;float:left;}
        form input {width: 50%; float:left;}
        form input[type=checkbox] {width: 7%;}
        form input[type=submit] {width: 10%; float:right;}
        form.inline {margin-left:0; width:350px;}
        form.inline div {float: left; width: auto;}
        
        form.inline input {width:auto;}
        textarea {width: 50%; height:70px;}
        .errors { width: 100%; color: red;height: 40px;}
        .clear { clear: both;}
        table {margin-top: 20px;}
        td {padding: 5px 10px; }
        thead td {font-weight: bold;}
        .info {font-style: italic; font-size:11px;float: left;width:50%;padding:0;margin:0;padding-left:10px;}
        h2 {width:100%;}
        .pull_right {float:right;}
        .size12 {font-size: 12px; }
        #loading {float:right; margin-right:30px;}

        #form_release{margin-top:20px;}
        #form_release label{width:100%; float:left; margin-bottom:5px;}

        .msg{margin:auto; text-align:center; width: 100%;}
    </style>
    <script src="../js/jquery.js"></script>
</head>
<body>
    
<div class="header">
    <div class="nav">
        <a href="store_queue_manager.php">Queue</a> 
        | 
        <a href="queue_stats.php">Queue Stats</a> 
        |
        <a href="qm_log.php">Monitor Log</a>
        |
        <a href="store_index.php">Store Setup</a>
        |
        <a href="store_queue_releaser.php">Manual Release</a>
        
        <a class="logout" href="logout.php">Logout</a>

    </div>
    <hr>
</div>

<div class="content">

