<div>
    <div>
        <?php foreach($this->campaigns as $campaign) : ?>
        <div class="display_box">
            <div><?php echo $campaign['client_name'] ?></div>
            <div><?php echo $campaign['campaign_name'] ?></div>
            <div><?php echo $campaign['description']  ?></div>
            <div><a href="/auction/list/campaign_id/<?php echo $campaign['campaign_id'] ?>">See Available Auctions</a></div>
        </div>
        <?php endforeach ?>
    </div>
</div> 