<?php echo $this->doctype() ?>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <?php
    //Meta Properties
    //As Zend's 'appendProperty' only works with a doctype of XHTML1_RDFA it seemed faster to just set in controller and readout here
    if (count($this->meta_property)) {
        foreach($this->meta_property as $property => $content) {
            echo '<meta property="'.$property.'" content="'.$content.'" />'.PHP_EOL;
        }
    }
    ?>

    <?php
        $this->headTitle()->setSeparator(TITLE_SEPARATOR)->prepend($this->translate("Blue Floyd Loves You"));
        echo $this->headTitle();
    ?>

    <?php echo $this->headLink()->prependStylesheet("/css/smoothness/jquery-ui-1.9.2.custom.css")
                    ->appendStylesheet('/css/normalise.css')
                    ->appendStylesheet('/css/cal-global.css')
                     ?>

    <style type="text/css" id="theme_custom_styles">
        <?php echo $this->mergeThemeCss(Zend_Registry::get('app_theme')) ?>
    </style>


    <?php $this->headScript()->prependFile('/js/libs/jquery-1.8.3.js')
                ->appendFile("/js/libs/jquery-ui-1.9.2.custom.js");
        echo $this->headScript();
    ?>

    <script type="text/javascript" id="theme_custom_js">
        <?php echo $this->mergeThemeJs(Zend_Registry::get('app_theme')) ?>
    </script>

    <?php
    if ($this->auth_is_client) {
        echo $this->headLink()->appendStylesheet('/css/admin-client.css');
        echo $this->headScript()->appendFile('/js/admin/client.js');
    }
    ?>
</head>
<body>

<section id="outer">
    <header>
        <h1>BLUEFLOYD LAYOUT - Ticket Auction</h1>
        <nav>
            <ul class="nav cf">

                <li class="nav-left"><a href="<?php echo $this->baseUrl() ?>">All Artists</a></li>

                <?php
                //Breadcrumbs
                if (count($this->breadcrumbs)) {
                    foreach($this->breadcrumbs as $breadcrumb => $crumb_url) {
                        $crumb_name = $breadcrumb;
                        if (!empty($crumb_url)) {
                            $crumb_name = '<a href="'.$crumb_url.'">'.$breadcrumb.'</a>';
                        }
                        echo '<li class="nav-left divider">/</li>';
                        echo '<li class="nav-left">'.$crumb_name.'</li>';
                    }
                }
                ?>

                <?php if ($this->is_loggedin) : ?>

                    <?php if ($this->auth_is_client) : ?>

                        <li class="nav-left"><a href="/client/manage-campaigns"><?php echo $this->translate("Manage Campaigns") ?></a></li>

                    <?php endif ?>

                    <li class="nav-right"><?php echo $this->translate("Logged in as") ?>: <?php echo $this->auth_username ?></li>
                    <li class="nav-right"><a href="/index/logout"><?php echo $this->translate('logout') ?></a></li>
                    <li class="nav-right"><a href="/user/my-account"><?php echo $this->translate("My Account") ?></a></li>

                <?php else : ?>

                    <li class="nav-right"><a href="/signin">Sign In</a></li>

                <?php endif ?>

            </ul>
        </nav>
    </header>

    <?php if (isset($this->flashMessage)) : ?>
    <div class="error" id="flash_message">
        <?php foreach ($this->flashMessage as $m) : ?>
            <li><?php echo $this->translate($m) ?></li>
        <?php endforeach ?>
    </div>
    <?php endif ?>

    <?php echo $this->layout()->content ?>

    <footer>
        <ul class="nav cf">
            <li class="nav-left"><a href="/info/about">Privacy</a></li>
            <li class="nav-left"><a href="/info/terms-and-conditions">Terms</a></li>
            <li class="nav-left ft-support"><a href="/info/contact">Support</a></li>
            <li class="nav-right nav-logo">powered by CrowdSurge</li>
        </ul>
    </footer>
</section>

<script type="text/javascript">
(function(){
    jQuery(document).ready(function(){
        jQuery("#flash_message").effect("highlight", {}, 5000).fadeOut(2000);
    });
})()
</script>
</body>
</html>