<div id="video_player">
    <a
        href="http://surveyvista/content/videos/project1/m-dc-feather-right.flv"
        style="display:block;width:425px;height:300px;"
        id="player"
        ></a>

    <script type="text/javascript">
        $(document).ready(function(){
            flowplayer("player", "http://surveyvista/content/flowplayer/flowplayer-3.2.2.swf");
        });
    </script>
</div>