<?php
    $title = $this->translate("CrowdSurge");
    $this->headTitle($title);
?>
<h2><?php echo $title ?></h2>
<div>
    <?php echo $this->form ?>
</div>
<div>
    <?php echo $this->tmp ?>
</div>

<div>
    <?php
    if (!empty($this->campaigns)) {
		//Loop through campaigns
		$out = '';
		$out .= '<form action="" method="post">';

		if (!isset($_POST['confirms'])) {
			$out .= '<div class="campaign_row">';
			$out .= '<div class="confirm confirm_campaign">';
			$out .= '<div align="right" style="font-size: 12px;">Select all <input type="checkbox" class="groupselect" id="cs_item" /></div>';
			$out .= '</div>';
			$out .= '</div>';
		}

	    foreach($this->campaigns as $campaign) {

	        $campaign_custom_ref = $campaign['campaign_custom_ref'];
	        $campaign_name = $campaign['campaign_name'];
	        $campaign_description = $campaign['campaign_description'];

	        $out .= '<div class="campaign_row">';

	        //Confirm checkbox
	        $out .= '<div class="confirm confirm_campaign">';
	        if (isset($campaign['db_action']['updated'])) {
	        	$campaign_id = $campaign['db_action']['updated'];
	        	$out .= 'Updated ID: '.$campaign_id;
	        }
	        else if (isset($campaign['db_action']['inserted'])) {
	        	$campaign_id = $campaign['db_action']['inserted'];
	        	$out .= 'Inserted ID: '.$campaign_id;
	        }
	        else {
			    if (!isset($_POST['confirms'])) {
		        	$db_status = 'Insert?';
		        	if (isset($campaign['db_status'])) {
		        		$db_status = 'Update?';
		        	}
		       		$out .= $db_status.' <input type="checkbox" name="confirms[]" value="C_'.$campaign_custom_ref.'" class="cs_item" />';
		       	}
	        }
	        $out .= '</div>';

	        $out .= $campaign_custom_ref.' - '.$campaign_name;
	        $out .= '<br />'.$campaign_description;


	        if (isset($campaign['auction']) && !empty($campaign['auction'])) {

	            $auctions = $campaign['auction'];

	            //Loop through auctions
	            foreach($auctions as $auction) {

	                $auction_custom_ref = $auction['auction_custom_ref'];
	                $auction_name = $auction['auction_name'];
	                $auction_description = $auction['auction_description'];
	                $display_order = $auction['display_order'];

	        		$out .= '<div class="auction_row">';
	        
			        //Confirm checkbox
			        $out .= '<div class="confirm">';			        
			        if (isset($auction['db_action']['updated'])) {
			        	$auction_id = $auction['db_action']['updated'];
			        	$out .= 'Updated ID: '.$auction_id;
			        }
			        else if (isset($auction['db_action']['inserted'])) {
			        	$auction_id = $auction['db_action']['inserted'];
			        	$out .= 'Inserted ID: '.$auction_id;
			        }
			        else {
			        	if (!isset($_POST['confirms'])) {
					        $db_status = 'Insert?';
					        if (isset($auction['db_status'])) {
					        	$db_status = 'Update?';
					        }
					        $out .= $db_status.' <input type="checkbox" name="confirms[]" value="A_'.$auction_custom_ref.'" class="cs_item" />';
					    }
			        }
			        $out .= '</div>';

	        		$out .= $auction_custom_ref.' - '.$auction_name.' - ['.$display_order.']';
	        		$out .= '<br />'.$auction_description;

	                if (isset($auction['item']) && !empty($auction['item'])) {

	                    $items = $auction['item'];

	                    //Loop through auction items
	                    foreach($items as $item) {

	                        $auction_item_custom_ref = $item['auction_item_custom_ref'];
	                        $auction_item_name = $item['auction_item_name'];
	                        $auction_item_description = $item['auction_item_description'];
	                        $start_date = $item['start_date'];
	                        $end_date = $item['end_date'];
	                        $timezone_id = $item['timezone_id'];
	                        $currency_iso = $item['currency_iso'];
	                        $min_bid_increment = $item['min_bid_increment'];
	                        $max_bid_increment = $item['max_bid_increment'];
	                        $starting_bid = $item['starting_bid'];
	                        $display_order = $item['display_order'];

	                        $out .= '<div class="auction_item_row">';
	        
					        //Confirm checkbox
					        $out .= '<div class="confirm">';
					        if (isset($item['db_action']['updated'])) {
					        	$item_id = $item['db_action']['updated'];
					        	$out .= 'Updated ID: '.$item_id;
					        }
					        else if (isset($item['db_action']['inserted'])) {
					        	$item_id = $item['db_action']['inserted'];
					        	$out .= 'Inserted ID: '.$item_id;
					        }
						    else {
						    	if (!isset($_POST['confirms'])) {
							        $db_status = 'Insert?';
							        if (isset($item['db_status'])) {
							        	$db_status = 'Update?';
							        }
							        $out .= $db_status.' <input type="checkbox" name="confirms[]" value="I_'.$auction_item_custom_ref.'" class="cs_item" />';
							    }
					        }
					        $out .= '</div>';

	                        $out .= $auction_item_custom_ref.' - '.$auction_item_name.' - '.$auction_item_description.' ['.$display_order.']<br />';
	                        $out .= $start_date.' - '.$end_date.' - '.$timezone_id.'<br />';
	                        $out .= $currency_iso.' - '.$min_bid_increment.' - '.$max_bid_increment.' - '.$starting_bid.'<br />';
	                        $out .= '</div>';

	                    }
	                }

	                $out .= '</div>';
	            }
	        }

	        $out .= '</div>';
	    }

	    if (!isset($_POST['confirms'])) {
		    $out .= '<input type="hidden" name="cs_call" value="'.$this->cs_call.'" />';
		    $out .= '<input type="hidden" name="cs_query" value="'.$this->cs_query.'" />';
		    $out .= '<input type="hidden" name="confirm_submitted" value="1" />';
		    $out .= '<div class="confirm_submit_row"><input type="submit" name="confirm_submit" value="Confirm" /></div>';
		    $out .= '</form>';
		}

	    echo $out;
	}
	?>
</div>