<?php
    $title = $this->translate("Manage Auctions") . " : " . $this->campaign['campaign_name'];
    $this->headTitle($title);

    $campaign_id = $this->campaign['campaign_id'];
?>
<h2><?php echo $title ?></h2>
<div>
    <?php echo $this->campaign['campaign_description'] ?>
</div>
<div>
    <ul>
        <?php foreach ($this->auctions as $auction) : ?>
        <li><strong><?php echo $auction['auction_name'] ?></strong>
            <span style="padding: 2px; background-color: buttonface;"><?php echo $this->auctionStatus[$auction['auction_status_id']] ?></span>
            &nbsp;<a href="<?php echo $this->baseUrl("/client/manage-auctions/campaign_id/{$campaign_id}/edit/{$auction['auction_id']}") ?>">edit</a>
            &nbsp;<a href="<?php echo $this->baseUrl("/client/manage-auction-items/campaign_id/{$campaign_id}/auction_id/{$auction['auction_id']}") ?>">manage items</a><br />
            <em><?php echo $auction['auction_custom_ref'] ?></em><br />
            <?php echo $auction['auction_description'] ?>

        </li>
        <?php endforeach ?>
    </ul>

</div>
<div>
    <?php echo $this->form ?>
</div>