<?php
    $title = $this->translate("Manage Auction Items");
    $this->headTitle($title);
?>
<h2><?php echo $title ?></h2>
<h3>Campaign: <?php echo $this->campaign['campaign_name'] ?></h3>
<h4><?php echo $this->auction['auction_name'] ?></h4>
<p>
    <?php echo $this->auction['auction_description'] ?>
</p>

<div>
    <ul>
    <?php foreach ($this->items as $lot) : ?>
        <li><strong><?php echo $lot->getName() ?></strong>&nbsp;
            <a href="<?php echo $this->baseUrl("/client/manage-auction-items/campaign_id/{$this->campaign_id}/auction_id/{$this->auction_id}/edit/{$lot->getItemId()}") ?>">edit</a><br />
            <em><?php echo $lot->getCustomRef() ?></em><br />
            <?php echo $lot->getDescription() ?><br />
            Starting Bid: <?php echo $lot->getStartingBid() ?>/Reserve: <?php echo $lot->getReserve() ? $lot->getReserve() : "Not set" ?><br />
            <?php echo $lot->getMinBidIncrement() ?>/<?php echo $lot->getMaxBidIncrement() ?><br />
            <?php echo $lot->getStartDate() ?>/<?php echo $lot->getEndDate() ?>

        </li>

    <?php endforeach ?>
    </ul>

</div>
<div>
    <?php echo $this->form ?>

</div>

<script type="text/javascript">
(function(){

    jQuery(document).ready(function(){
        jQuery( "#start_date" ).datepicker( {
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImage: "/images/calendar.gif"
            //,buttonImageOnly: true
        });
        jQuery( "#end_date" ).datepicker( {
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImage: "/images/calendar.gif"
            //,buttonImageOnly: true
        });

        // Now we need a way of populating the time

    });

})()
</script>