<?php
    $title = $this->translate("Manage Campaigns");
    $this->headTitle($title);
?>
<h2><?php echo $title ?></h2>
<div>
    <ul style="list-style-type: none;">
    <?php foreach ($this->campaigns as $campaign) : ?>
        <li><strong><?php echo $campaign->campaign_name; ?></strong>&nbsp;<a href="<?php echo $this->baseUrl("/client/manage-campaigns/edit/{$campaign->campaign_id}") ?>">edit</a> &nbsp; <a href="<?php echo $this->baseUrl("/client/manage-auctions/campaign_id/{$campaign->campaign_id}") ?>">manage auctions</a><br />
        <em><?php echo $campaign->campaign_custom_ref ?></em><br />
        <?php echo $campaign->campaign_description ?><br />
    </li>
    <?php endforeach ?>
    </ul>
</div>
<div>
    <?php echo $this->form ?>
</div>