<?php
    $title = $this->translate("All Auctions");
    $this->headTitle($title);
?>
<h2><?php echo $title ?></h2><br />
<div>
    <?php if (!empty($this->auctions_report_data)) : ?>

    	<table cellpadding="5" celpacing="0" border="0" width="100%" class="report">

    		<?php 
    		$tmp_campaign_id = 0;
    		$tmp_auction_id = 0;
    		?>

	    	<?php foreach($this->auctions_report_data as $row) : ?>

	    		<?php if ($row['campaign_id'] != $tmp_campaign_id) : ?>

	    			<tr class="campaign_row">
	    				<td colspan="9">
	    					<span class="id_ref">
			    				[<?php echo $row['campaign_id'] ?>] 
			    				<?php echo $row['campaign_custom_ref'] ?>
			    			</span>
		    				<br />
	    					<h4><?php echo $row['campaign_name'] ?> - <?php echo $row['campaign_description'] ?></h4>
	    				</td>
	    				<td>
	    					<?php echo $row['auction_status'] ?>
	    				</td>
	    			</tr>

	    		<?php endif ?>


	    		<?php if ($row['auction_id'] != $tmp_auction_id) : ?>

	    			<tr class="auction_row">
	    				<td colspan="9" class="auction_left">
	    					<span class="id_ref">
			    				[<?php echo $row['auction_id'] ?>] 
			    				<?php echo $row['auction_custom_ref'] ?>
			    			</span>
		    				<br />
	    					<h5><?php echo $row['auction_name'] ?></h5>
	    				</td>
	    				<td>
	    					<?php echo $row['auction_status'] ?>
	    				</td>
	    			</tr>

		    		<tr class="auction_item_headrow">
		    			<td class="auction_item_left">Description</td>
		    			<td>Currency</td>
		    			<td>Min Bid Increment</td>
		    			<td>Max Bid Increment</td>
		    			<td>Starting Bid</td>
		    			<td>Reserve</td>
		    			<td>Bids</td>
		    			<td>Current Highest</td>
		    			<td>Winner</td>
		    			<td>Status</td>
		    		</tr>

	    		<?php endif ?>

	    		<tr class="auction_item_row">
	    			<td class="auction_item_left">
	    				<span class="id_ref">
	    					[<?php echo $row['auction_item_id'] ?>] 
	    					<?php echo $row['auction_item_custom_ref'] ?>
	    				</span>
	    				<br />
	    				<?php echo $row['auction_item_name'] ?>
	    				<br />
	    				<small>
	    					<?php echo $row['auction_item_description'] ?>
	    					<br />	    				
	    					<?php echo $row['start_date'] ?> - <?php echo $row['end_date'] ?> <?php echo $row['timezone'] ?>
	    				</small>
	    			</td>
	    			<td><?php echo $row['currency'] ?></td>
	    			<td><?php echo $row['min_bid_increment'] ?></td>
	    			<td><?php echo $row['max_bid_increment'] ?></td>
	    			<td><?php echo $row['starting_bid'] ?></td>
	    			<td><?php echo $row['reserve'] ?></td>
	    			<td><?php echo $row['bids'] ?></td>
	    			<td><?php echo $row['current_highest_bid'] ?></td>
	    			<td><?php echo $row['winner'] ?></td>
	    			<td>
	    				<?php if ($row['bids'] < 1) : ?>
	    					No bids
	    				<?php elseif ($row['current_highest_bid'] < $row['reserve']) : ?>
	    					Reserve not met
	    				<?php elseif (!empty($row['winner'])) : ?>
	    					Winner Selected
	    				<?php elseif ($row['start_date'] < date('Y-m-d H:i:s') || $row['end_date'] > date('Y-m-d H:i:s')) : ?>
	    					Closed
	    				<?php else : ?>
	    					Open
	    				<?php endif ?>

	    				<?php if ($row['auction_status'] != 'Confirmed') : ?>
	    					<br />(auction closed)
	    				<?php endif ?>
	    			</td>
	    		</tr>

	    		<?php 
    			$tmp_campaign_id = $row['campaign_id'];
    			$tmp_auction_id = $row['auction_id'];
    			?>
	    	
	    	<?php endforeach ?>

    	</table>

    <?php else : ?>

    	No auction items avaialble

    <?php endif ?>
</div>